<html  layout:decorator="/common/layout_iframe" >
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 品牌管理 
		<span class="c-gray en">&gt;</span> 品牌列表 
		<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container" >
		 <div class="cl pd-5 bg-1 bk-gray mt-10">
			 <span class="l">
				 <a href="javascript:void(0);" class="btn btn-success  radius add"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
			 </span> 
			  <div class="r">
			  	<span class="f-20 c-danger connInfo">
			  	</span>
			  </div> 
			<form action="/brand/list">
				<div class="text-c"> 
					中文名称：<input type="text" class="input-text" style="width:200px" placeholder="中文名称" id="" th:value="${query.nameLike}" name="nameLike"/> 
					英文名称：<input type="text" class="input-text" style="width:200px" placeholder="英文名称" id="" th:value="${query.nameEnLike}" name="nameEnLike"/> 
					<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
				</div>
			</form>
		</div>
		<div class="line mb-10"></div>
		<table class="table table-border table-bordered table-bg table-hover">
			<thead>
				<tr>
					<th colspan="10" scope="col">
						列表
					</th>
				</tr>
				<tr class="text-c ">
					<th>序号</th>
					<th>名称</th>
					<th>英文名</th>
					<th>起源</th>
					<th>创始人</th>
					<th>创始时间</th>
					<th>编辑/关联</th>
				</tr>
			</thead>
			<tbody>
				<section th:each="one,status:${page.content}" >
					<tr  class="text-c">
						<td th:text="${page.number*page.size+status.index+1}">1</td>
						<td >
							<a  class="btn-link"  th:text="${one.name}" th:href="@{'/brand/showMore/'+${one.id}}" target='_blank'>
							</a>
						</td>
						<td th:text="${one.nameEn}"></td>
						<td th:text="${one.originate}"></td>
						<td th:text="${one.founder}"></td>
						<td th:text="${one.foundDate}"></td>
						<td>
							<a th:attr="data-id=${one.id}"  style="text-decoration:none" href="javascript:void(0);" title="编辑" class="ml-5 edit" >
								<i class="Hui-iconfont">&#xe6df;</i>
							</a> 
							<a th:attr="data-id=${one.id}"  style="text-decoration:none" href="javascript:void(0);" title="关联产品" class="ml-5 conn" >
								<i class="Hui-iconfont">&#xe6f1;</i>
							</a> 
						</td>
					</tr>					
				</section>
			</tbody>
		</table>
		<div class="mt-10 text-r" th:attr="data-totalPages=${page.totalPages}" style="right:20px" id="pageCont"></div>
	</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/base/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="/js/brand/list.js"></script>
</section>
</html>
