a{
	color: #1E9FFF;
}
.Brand_search_box {
	padding-bottom:10px;
}
.table-foot {
	display: flex;
	justify-content: space-between;
	flex-flow: nowrap;
}

.table-foot .table-foot-left span {
	width: 110px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #ccc;
	display: inline-block;
	color: #666666;
}

.table-foot .table-foot-left span:hover {
	border: 1px solid #1E9FFF;
	color: #1E9FFF;
}
.table-foot .table-foot-left span:hover {
	border: 1px solid #1E9FFF;
	color: #1E9FFF;
}
.brand-name{
	color: #1E9FFF;
}

@media screen and (min-width:1366px) and (max-width:1620px) {
	.table-foot .table-foot-left span {
		width: 100px;
		height: 34px;
		line-height: 34px;
	}
}

@media screen and (min-width:1200px) and (max-width:1365px) {
	.table-foot .table-foot-left span {
		width: 90px;
		height: 34px;
		line-height: 34px;
	}
}
.Float-win {
	position: fixed;
	width: 200px;
	background: #fff;
	top: 25%;
	right: -210px;
	box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	z-index: 99999999;
}

.float-win-title {
	position: relative;
}

.Float-win h3 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff;
	/*background: #666;
	opacity: 0.2;*/
	text-align: center;
	color: #666;
	background: rgba(0, 0, 0, 0.1);
}

.Float-win .list {
	display: none;
}

.Float-win .list ul {
	margin: 10px 0;
}

.Float-win .list ul li {
	display: flex;
	justify-content: space-between;
	padding: 4px 10px;
}

.Float-win .list ul li span {
	overflow: hidden;
	/*超出部分隐藏*/
	white-space: nowrap;
	/*规定段落中的文本不进行换行 */
	text-overflow: ellipsis;
	/* 超出部分显示省略号 */
	-o-text-overflow: ellipsis;
	/* 超出部分显示省略号 */
}

.Float-win .list ul li i {
	display: none;
}

.Float-win .list ul li:hover i {
	display: inline;
	cursor: pointer;
	color: red;
	font-size: 14px;
}

.add-list-scuess {
	position: relative;
	width: 360px;
	height: 100px;
	display: none;
}

.add-list-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
}

.add-list-box i {
	color: #1E9FFF;
	font-size: 40px;
	margin-left: 10px;
}

.small-pro-box {
	position: absolute;
	top: 0;
	left: -60px;
	background: rgb(5, 5, 5);
	opacity: 0.8;
	width: 60px;
	height: 60px;
	z-index: 9999999;
	text-align: center;
	color: #ffffff;
	border-radius: 100px 100px 100px 100px;
	font-size: 15px;
	box-shadow: 0px 3px 21px 0px rgba(19, 19, 19, 0.85);
}

.Num {
	font-size: 16px;
	color: #fff;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: red;
	display: inline-block;
	border-radius: 50%;
	transform: scale(0.6);
	position: absolute;
	top: 6px;
	left: 16%;
}

.Pro_search_box {}

.Pro_search_box .Pro_search_form {
    display: flex;
    flex-flow: nowrap;
    overflow: hidden;
    padding-bottom: 10px;
}

.Pro_search_box .Pro_search_form .Pro_search {
    width: 25%;
    min-width: 380px;
    margin: 0 4px;
}

.Pro_search_box label {
    margin-top: 8px;
}

.Pro_search_form i:last-child:hover {
    color: #1E9FFF !important;
}

.Pro_search_form i:last-child:active {
    color: #187dc9 !important;
}

.layui-btn-primary:hover {
    border-color: #1E9FFF;
    color: #1E9FFF !important;
}

.layui-btn-primary:active {
    border-color: #187dc9;
    color: #187dc9 !important;
}

.layui-form-onswitch {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
}

.data-list-right span {
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}

.data-list-right span:nth-child(1) {
    border: 1px solid #e4e4e4;
}

.data-list-right span:nth-child(1):hover {
    border: 1px solid #1E9FFF;
    color: #1E9FFF;
}

.data-list-right span:nth-child(2) {
    background-color: #1E9FFF;
    color: #fff;
}

