<html  layout:decorator="/common/layout_iframe" >
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 成分库
		<span class="c-gray en">&gt;</span> 成分标签
		<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container" >
	
		<div class="panel panel-default">
			<div class="panel-header">数据筛选</div>
			<div class="panel-body">
				<form action="/ingredientLabel/list" id="searchForm">
					<div class="text-l"> 
	 					输入查询：<input type="text" class="input-text nameLike" style="width:200px" placeholder="标签名称" id="" th:value="${query.nameLike}" name="nameLike"/> 
	 					<button type="submit" class="btn btn-success radius"  name=""><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	 					<button type="button" class="btn btn-default radius clear"  name=""><i class="Hui-iconfont">&#xe66b;</i> 重置</button>
					</div>
				</form>
			</div>
		</div>
 
		<table class="table table-border table-bordered table-bg table-hover">
			<thead>
				<tr>
					<th colspan="10" scope="col">
						<span>数据列表</span>
						<div class='r' style='display: inline-block;'>
							<a href="javascript:void(0);" class="btn btn-default  radius addClass"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a>
							<a href="javascript:void(0);" class="btn btn-success  radius add"><i class="Hui-iconfont">&#xe600;</i> 添加标签</a>
						</div>
					</th>
				</tr>
				<tr class="text-c ">
					<th>序号</th>
					<th>标签</th>
					<th>标签分类</th>
					<th>描述</th>
					<th>添加时间</th>
					<th>常用设置</th>
				<!-- 	<th>状态</th> -->
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			 
					<tr  class="text-c"  th:each="one,status:${page.content}" >
						<td th:text="${page.number*page.size+status.index+1}">1</td>
						<td th:text="${one.name}"></td>
						<td th:text="${one.className}"></td>
						<td th:text="${one.description}"></td>
						<td th:text="${#dates.format(one.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td class="td-status">					
							<div class="switch size-S switchItem" th:attr="data-id=${one.id}" >
							    <input  type="checkbox"  th:checked='${one.isChoice eq 1 ? "checked":"false"}' ></input>
							</div>						
						</td>
						<!-- 
						<td class="td-status"><span th:text="${one.isActive ne 0 ? '已开启':'已停用'}" class="label radius status" th:classappend="${one.isActive ne 0 ? 'label-success':'label-warning'}"></span></td>
						 -->
						<td class="td-manage">
						<!-- 
							<a th:hidden="${one.isActive eq 0}" th:attr="data-id=${one.id}"  style="text-decoration:none" href="javascript:void(0);" title="停用" class="stop" >
								<i class="Hui-iconfont">&#xe631;</i>
							</a>
							
							<a th:hidden="${one.isActive ne 0}" th:attr="data-id=${one.id}"  style="text-decoration:none" href="javascript:void(0);" title="启用" class="ml-5 start" >
								<i class="Hui-iconfont">&#xe615;</i>
							</a>
							 -->
						 	<a th:attr="data-id=${one.id}"  style="text-decoration:none" href="javascript:void(0);" title="编辑" class="ml-5 edit" >
								<i class="Hui-iconfont">&#xe6df;</i>编辑
							</a> 

							<a th:attr="data-id=${one.id}"  style="text-decoration:none" href="javascript:void(0);" title="删除" class="ml-5 delete" >
								<i class="Hui-iconfont">&#xe6e2;</i>删除
							</a>
							
							<!-- 
							<a th:attr="data-id=${one.id}"  style="text-decoration:none" href="javascript:void(0);" title="查看" class="ml-5 show" >
								<i class="Hui-iconfont">&#xe709;</i>
							</a> 
							 -->
						 </td>
					</tr>					
			 
			</tbody>
		</table>
		<div class="mt-10 text-r" th:attr="data-totalPages=${page.totalPages}" style="right:20px" id="pageCont"></div>
	</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/js/ingredientLabel/list.js"></script>
</section>
</html>
