.Details {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
}

.Details .Details-left {
	width: 30%;
	min-width: 380px;
	background: #fff;
}
@media screen and (max-width: 1260px){
	.Details {
		display: flex;
		flex-flow: wrap;
	}
	.Details .Details-left {
		width: 100%;
	}
	.Details .Details-right {
		width: 100% !important;
	}
}

.Details .Details-left .Details-left-title {
	position: relative;
	overflow: hidden;
}

.Details .Details-left .Details-left-title .btn span {
	display: inline-block;
	width: 60px;
	height: 30px;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
	color: #999;
	text-align: center;
	line-height: 30px;
}

.Details .Details-left .Details-left-title h3 {
	width: 100px;
	height: 34px;
	background: #F95E5A;
	text-align: center;
	line-height: 34px;
	color: #fff;
	font-weight: 600;
	position: absolute;
	right: 0;
	top: 7px;
	transform: rotate(45deg);
}

.Details .Details-left .Details-left-title .btn span i {
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
}

.Details .Details-left .Details-left-title .btn span:hover {
	border: 1px solid #0079FE;
	color: #0079FE;
}

.Details .Proname {
	text-align: left;
	color: #666;
	font-weight: 600;
	margin: 10px 0 10px 10px;
}

.Details-table {
	/*width: 100%;*/
	text-align: center;
}

.Details-table tbody tr td:nth-child(1) {
	width: 30% !important;
	text-align: right;
}

.Details-table.Details-table tbody tr td:nth-child(2) {
	width: 70% !important;
	text-align: left;
}

.Details-table .prograded {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	line-height: 80px;
	text-align: center;
	background: orange;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.Details-table .ingredient li {
	line-height: 2.5;
}

.Details-table .setag-btn {
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	border: 1px solid #e4e4e4;
	color: #999;
	cursor: pointer;
	font-size: 14px;
}

.Details-table .setag-btn i {
	color: #999;
	font-size: 12px;
	font-style: normal;
}

.Details-table .setag-group {
	width: 96%;
	margin: 0 auto;
}

.Details-table .setag-group .setag {
	padding: 4px 10px;
	text-align: center;
	display: inline-block;
	border: none;
	color: #999;
	cursor: pointer;
	margin: 2px;
	border-radius: 4px;
	border: 1px solid #e4e4e4;
}

.Details-table .setag-group .setag i {
	font-size: 12px;
	font-weight: 800;
	display: none;
}

.Details-table .setag-group .setag:hover {
	border: 1px solid #1E9FFF;
	color: #1E9FFF;
}

.Details-table .setag-group .setag:hover i {
	display: inline;
	color: #1E9FFF;
}


/*右侧*/

.Details .Details-right {
	width: 70%;
	background: #fff;
	margin-left: 10px;
	min-width: 600px;
}

.Details-right .AnalysisResult h3 {
	height: 40px;
	line-height: 40px;
	background: #f2f2f2;
	border: 1px solid #E9E9E9;
	padding-left: 10px;
}

.Details-right .AnalysisResult ul {
	margin-left: 10px;
	margin-top: 6px;
}

.Details-right .AnalysisResult ul li {
	line-height: 2.5;
	font-size: 15px;
}

.brand-info {
	margin-top：10px;
}

.brand-info-left {
	width: 49%;
	float: left;
}

.brand-info-left .pro-logo {
	width: 120px;
	height: 60px;
	background: url(../../assets/images/pro-logo.png);
	background-size: cover;
	border-radius: 4px;
	border: 1px solid #f1f1f1;
}

.brand-info .brand-info-left .layui-table tbody:last-child .content {
	width: 90%;
	margin: 0 auto;
	line-height: 2.2;
}
 .brand-info .brand-info-left .layui-table tbody:last-child .content  a {
      text-decoration: none;
      /*color: red;*/
    }

.brand-info .brand-info-left .layui-table tbody:last-child h3 {
	font-size: 14px;
}

.Company-info {
	margin-top: -8px;
	overflow: hidden;
}

.Company-info .Company-info-left,
.Company-info-right {
	width: 49%;
	float: left;
}

.Company-info .Company-info-left {
	width: 49%;
	float: left;
	margin-top: 10px;
}

.Company-info-right {
	margin-left: 10px;
}

.Company-info .Company-info-left h3 {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 14px;
}

.Company-info .Company-info-left dl {
	overflow: hidden;
	margin: 2px 0;
	padding: 0;
	color: #666;
	font-size: 15px;
}

.Company-info .Company-info-left dt {
	width: 110px;
	overflow: hidden;
	float: left;
	text-align: right;
	font-weight: normal;
}

.Company-info .Company-info-left dd {
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
}

.Company-info-left h4 {
	height: 34px;
	line-height: 34px;
	background-color: #f2f2f2;
	border: 1px solid #CCC;
	color: #555;
	padding-left: 10px;
}

.Company-info-left h4 span {
	color: #A4A4A4;
}
.BrandStory{
	line-height: 2.2;
}


.Distr-Channel .Distr-Channel-top {
	overflow: hidden;
}

.Distr-Channel .Distr-Channel-top .Distr-Channel-top-left {
	float: left;
	width: 49%;
}

.Distr-Channel .Distr-Channel-top .Distr-Channel-top-right {
	float: left;
	width: 49%;
	margin-left: 10px;
}

.Distr-bottom-tit {
	height: 50px;
	line-height: 50px;
	border: 1px solid #E9E9E9;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.Distr-bottom-tit h3 {
	height: 100%;
	line-height: 50px;
}

.Distr-bottom-tit span {
	display: inline-block;
	width: 120px;
	height: 34px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
	margin-top: 4px;
	color: #999;
}

.Distr-bottom-tit span i {
	color: #999;
	font-size: 14px;
	margin-right: 6px;
}

.Distr-bottom-tit span:hover {
	border: 1px solid #67AFFE;
	color: #67AFFE;
}

.Distr-bottom-tit span:hover i {
	color: #67AFFE;
}

.layui-table a {
	color: #1E9FFF;
}

.CompanyList dd a {
	color: #1E9FFF;
}

.prolink {
	color: #1E9FFF;
	cursor: pointer;
}

.prolink i {
	color: #1E9FFF;
	cursor: pointer;
	margin-right: 4px;
}
.scroll_wrap .scroll_slider:hover{
	opacity: 1;
	}
