</html>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout" th:with="title='出错了-柠檬妆典'">
<section layout:fragment="main" >
	<header class="aui-bar aui-bar-nav maui-header-red" id="aui-header" style="max-width: 768px; margin: 0 auto">
        <a href="javascript:history.go(-1);" class="aui-btn aui-pull-left">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">出错了</div>
    </header>
    <div class="agreement-detail" style="max-width: 768px; margin: 0 auto">
    	<div class="content">
	    	<div class="aui-row">
				<div class="aui-col-xs-2">
					<div style="color: #fff">.</div>
				</div>
				<div class="aui-col-xs-8">
                    <a href="/">
				    	<img alt="出错了" src="/img/404.jpg">
			    	</a>
                 </div>
                 <div class="aui-col-xs-2">
                      <div style="color:#fff" >.</div> 
                 </div>
               </div>
    	</div>
    </div>
</section>
</html>