<!DOCTYPE HTML>
<html  layout:decorator="/common/layout_dialog">
<body>
<section layout:fragment="main">
	<div class="page-container" >
		<form class="form form-horizontal" id="curForm">
		<input type="hidden" th:value="${one.id}" name="id"></input>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
									<span class="c-red">*</span>
								方案名称：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
				<input type="text" class="input-text" th:value="${one.name}" value="" placeholder="方案名称" name="name"/>
																
				</div>
			</div>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
									<span class="c-red">*</span>
								标志组：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
				<input type="text" class="input-text" th:value="${one.flags}" value="" placeholder="标志组" name="flags"/>
																
				</div>
			</div>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
								肤质特点：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
												<textarea class="textarea" th:utext="${one.skinFeature}" value="" placeholder="肤质特点" name="skinFeature"/>
								
				</div>
			</div>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
								解决办法：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
												<textarea class="textarea" th:utext="${one.skinIdea}" value="" placeholder="解决办法" name="skinIdea"/>
								
				</div>
			</div>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
								备注：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
												<textarea class="textarea" th:utext="${one.remark}" value="" placeholder="备注" name="remark"/>
								
				</div>
			</div>
							
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
					<input class="btn btn-danger radius cancle" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;"/>
				</div>
			</div>
		</form>
	</div>
	</section>
	<section  layout:fragment="my">
		<script type="text/javascript" charset="utf-8" src="/js/questionplan/edit.js"></script>
	</section>
</body>
</html>