<!DOCTYPE HTML>
<html  layout:decorator="V2/common/layout_iframe">
<section layout:fragment="myCss">
	<style type="text/css">
    body {
        background: #fff;
    }
    
    .addclassifl form {
        width: 90%;
        margin: 20px auto 0;
    }
    
    p {
        width: 100%;
        padding: 10px;
        color: #c5c3c3;
    }
</style>
</section>
<body>
<section layout:fragment="main">
	<div class="addclassifl">
        <form id="curForm" >
            <div class="form-group">
                <label for="exampleInputEmail1">*请输入标签分类：</label>
                <input type="text" class="form-control" placeholder="请输入标签分类" name="name"/>
                <p>标签分类不可重复，请输入数字、字母、汉字，不支持特殊符号</p>
            </div>
            <div class="form-group" style="text-align: right; border-top: 1px solid #e5e9ec; padding-top:10px;">
                <button type="button" class="layui-btn layui-btn-primary cancle">关闭</button>
                <button type="submit" class="layui-btn layui-btn-normal ">添加分类</button>
            </div>
        </form>
    </div>
</section>
<section  layout:fragment="my">
			<script type="text/javascript" charset="utf-8" src="/js/v2/labelClass/add.js"></script>
</section>
</body>
</html>