<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout" th:with="title='关于我们-柠檬妆典'">
<section layout:fragment="main" >
	<header class="aui-bar aui-bar-nav maui-header-red" id="aui-header" style="max-width: 768px; margin: 0 auto">
        <a href="javascript:history.go(-1);" class="aui-btn aui-pull-left">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">关于我们</div>
    </header>
    <div class="agreement-detail" style="max-width: 768px; margin: 0 auto">
    	<div class="title">护肤美妆</div>
    	<div class="content">
			<p>护肤美妆提供肤质检测，妆评推荐，试用申请，在线咨询等功能</p>
			<p>更多功能敬请期待...</p>
    	</div>
    </div>
</section>
<section layout:fragment="my">
</section>
</html>