<html  layout:decorator="/common/layout_iframe" >
<section  layout:fragment="myCss">
	<link rel="stylesheet" type="text/css" href="/base/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" />
	<style type="text/css">
	.ztree li span.button.add {
		margin-left:2px; 
		margin-right: -1px; 
		background-position:-144px 0; 
		vertical-align:top; 
		*vertical-align:middle
	}
	</style>
</section>
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 系统管理 
		<span class="c-gray en">&gt;</span> 角色关联菜单 
		<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container" >
		<p class="f-20 text-success">角色关联菜单</p>
		<div class="line mb-10"></div>
		<section class="container">
	        <div class="responsive">
	            <div class="row cl">
	                <div class="col-md-6">
	                	<table class="table table-border table-bordered table-bg table-hover mt-10">
							<thead>
								<tr>
									<th colspan="10" scope="col">
										角色列表
									</th>
								</tr>
								<tr class="text-c ">
									<th><input type="checkbox" /></th>
									<th>角色名</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody th:each="one,status:${list}">
								<tr class="text-c" th:if="${one.roleName ne 'ROLE_sa'}">									
									<td><input type="checkbox" /></td>
									<td th:text="${one.roleName}"></td>
									<td>
										<button th:attr="data-id=${one.id}" class='btn btn-primary radius oper' >显示关联权限</button>
									</td>
								</tr>	
								<tr class="text-c" th:if="${one.roleName eq 'ROLE_sa'}" sec:authorize='hasRole("ROLE_sa")'>									
									<td><input type="checkbox" /></td>
									<td th:text="${one.roleName}"></td>
									<td>
										<button th:attr="data-id=${one.id}" class='btn btn-primary radius oper' >显示关联权限</button>
									</td>
								</tr>
												
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<h4 id="select"></h4>
						<ul id="treeDemo" class="ztree"></ul>
						<button style="display:none" class='btn btn-primary radius save'>更新关联</button>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<section  layout:fragment="my">
	<script type="text/javascript" src="/base/lib/zTree/v3/js/jquery.ztree.all-3.5.js"></script>
	<script type="text/javascript" src="/js/role/connInit.js"></script>
</section>
</html>