<!DOCTYPE HTML>
<html >
<head th:fragment="head">
<!-- metas -->
<meta charset="utf-8"></meta>
<meta name="renderer" content="webkit|ie-comp|ie-stand"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" ></meta>
<meta http-equiv="Cache-Control" content="no-siteapp" ></meta>
<meta name="keywords" content="后台管理"></meta>
<meta name="description" content="后台管理框架，H-ui.admin v3.0"></meta>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<!-- ico -->
<link rel="Bookmark" href="/img/favicon.ico" ></link>
<link rel="Shortcut Icon" href="/img/favicon.ico" ></link>
<!-- common css -->
<link rel="stylesheet" type="text/css" href="/base/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/base/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/base/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/base/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/css/base.css" />
<!-- 把jquery单独提前 -->
<script type="text/javascript" src="/base/lib/jquery/3.4.1/jquery-3.4.1.min.js"></script> 

<title>后台管理</title>
</head>
</html>