<section th:fragment="js">
	<!--公共js-->
	<script type="text/javascript" src="/base/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/base/h-ui/js/H-ui.js"></script>
	<script type="text/javascript" src="/base/h-ui.admin/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="/base/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
	<script type="text/javascript" src="/base/lib/laypage/1.2/laypage.js"></script> 
	<!-- jquery 双向绑定  -->
	<script type="text/javascript" src="/base/lib/way.js"></script>
	<!-- jquery 分页  -->
	<script type="text/javascript" src="/js/common/formpage.js"></script>
	<!-- 自定义js -->
	<script type="text/javascript" src="/js/common/base.js"></script>
	
	<!--[if IE 6]>
	<script type="text/javascript" src="/base/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/base/lib/html5shiv.js"></script>
	<script type="text/javascript" src="/base/lib/respond.min.js"></script>
	<![endif]-->
</section>