<!DOCTYPE HTML>
<html>
	<footer class="footer mt-10" th:fragment="footer">
		<!-- 
		<div class="container">
			<span way-data="appInfo.name">灵智迅工作室</span>　版权所有 <br/>
			Copyright ©<span way-data="appInfo.copyRight">2017</span> 
			<span way-data="appInfo.url">www.zylweb.com</span> All Rights Reserved<a id="showErr">.</a>.
		</div>
		<script th:inline="javascript">
				$(function(){
					$.post('/app/show4Json/1',function(data){
						var appInfo=data.show4Json;
						var d = new Date();
						var year = d.getFullYear();
						if(year != appInfo.copyRight){
							appInfo.copyRight = appInfo.copyRight+"-"+year
						}
						way.set("appInfo", appInfo );
					});
				});
		
		</script>
		 -->
	</footer>
	
</html>

