<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.example.sqlmaps.question.TBrQuestionTypeMapper" >
  <resultMap id="BaseResultMap" type="com.co.example.entity.question.TBrQuestionType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type_level" property="typeLevel" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="grade_min" property="gradeMin" jdbcType="REAL" />
    <result column="grade_max" property="gradeMax" jdbcType="REAL" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
    <result column="app_id" property="appId" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type_level, parent_id, grade_min, grade_max, flag, remark, item_order, 
    create_time, create_by, update_time, update_by, is_active, del_flg, app_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_br_question_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_br_question_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.co.example.entity.question.TBrQuestionType" keyColumn="id" keyProperty="id" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE" >
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_br_question_type (id, name, type_level, 
      parent_id, grade_min, grade_max, 
      flag, remark, item_order, 
      create_time, create_by, update_time, 
      update_by, is_active, del_flg, 
      app_id)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{typeLevel,jdbcType=INTEGER}, 
      #{parentId,jdbcType=BIGINT}, #{gradeMin,jdbcType=REAL}, #{gradeMax,jdbcType=REAL}, 
      #{flag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{itemOrder,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{isActive,jdbcType=TINYINT}, #{delFlg,jdbcType=TINYINT}, 
      #{appId,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.question.TBrQuestionType" >
    update t_br_question_type
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeLevel != null" >
        type_level = #{typeLevel,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="gradeMin != null" >
        grade_min = #{gradeMin,jdbcType=REAL},
      </if>
      <if test="gradeMax != null" >
        grade_max = #{gradeMax,jdbcType=REAL},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.question.TBrQuestionType" >
    update t_br_question_type
    set name = #{name,jdbcType=VARCHAR},
      type_level = #{typeLevel,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=BIGINT},
      grade_min = #{gradeMin,jdbcType=REAL},
      grade_max = #{gradeMax,jdbcType=REAL},
      flag = #{flag,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      item_order = #{itemOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_active = #{isActive,jdbcType=TINYINT},
      del_flg = #{delFlg,jdbcType=TINYINT},
      app_id = #{appId,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_question_type t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null" >
          and t.name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="typeLevel != null" >
          and t.type_level = #{typeLevel,jdbcType=INTEGER}
      </if>
      <if test="parentId != null" >
          and t.parent_id = #{parentId,jdbcType=BIGINT}
      </if>
      <if test="gradeMin != null" >
          and t.grade_min = #{gradeMin,jdbcType=REAL}
      </if>
      <if test="gradeMax != null" >
          and t.grade_max = #{gradeMax,jdbcType=REAL}
      </if>
      <if test="flag != null" >
          and t.flag = #{flag,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
          and t.remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="itemOrder != null" >
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null" >
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="isActive != null" >
          and t.is_active = #{isActive,jdbcType=TINYINT}
      </if>
      <if test="delFlg != null" >
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <if test="appId != null" >
          and t.app_id = #{appId,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from t_br_question_type t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_question_type t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from t_br_question_type where id in (
    select t.id from (select * from t_br_question_type) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.co.example.entity.question.aide.TBrQuestionTypeVo" extends="BaseResultMap" >
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.name, 
    t.type_level, 
    t.parent_id, 
    t.grade_min, 
    t.grade_max, 
    t.flag, 
    t.remark, 
    t.item_order, 
    t.create_time, 
    t.create_by, 
    t.update_time, 
    t.update_by, 
    t.is_active, 
    t.del_flg, 
    t.app_id
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause" >
     <if test="gradeCount != null" >
          and t.grade_min &lt;= #{gradeCount,jdbcType=REAL} and grade_max  &gt;= #{gradeCount,jdbcType=REAL} 
      </if>
  </sql>
  <sql id="Table_Join_Clause" >
    <!-- left join tableName tn on t.primaryKey=tn.foreignKey -->
  </sql>
</mapper>