<html layout:decorator="V2/common/layout_iframe">
<section layout:fragment="myCss">
<style type="text/css">
	body {
		background: #fff;
	}
	
	.edit form {
		width: 90%;
		margin: 20px auto 0;
	}
	
	p {
		width: 100%;
		padding: 10px;
	}
</style>
</section>
<section layout:fragment="main">
	<!--弹出层新增-->
		<div class="edit">
			<form  id="curForm">
				<div class="form-group">
					<label for="exampleInputEmail1">请输入旧密码:</label>
					<input name="oldPwd" type="password" class="form-control" placeholder="请输入旧密码:"/>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">请输入新密码：</label>
					<input name="newPwd1" id="newPwd1" type="password" class="form-control" placeholder="请输入6-15位新密码"/>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">请再次输入密码：</label>
					<input name="newPwd2" type="password" class="form-control" placeholder="请再次输入密码" />
				</div>
				<div class="form-group" style="text-align: right; border-top: 1px solid #e5e9ec; padding-top:10px;">
					<button type="button" class="layui-btn layui-btn-primary cancle">取消</button>
					<button class="layui-btn layui-btn-normal">提交</button>
				</div>
			</form>
		</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" charset="utf-8" src="/js/v2/admin/editPwd.js?version=4" ></script>
</section>
</html>
