<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.example.sqlmaps.taobao.TBrTaobaoGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.co.example.entity.taobao.TBrTaobaoGoods" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_sort_id" property="productSortId" jdbcType="VARCHAR" />
    <result column="product_sort_name" property="productSortName" jdbcType="VARCHAR" />
    <result column="taobao_price" property="taobaoPrice" jdbcType="DECIMAL" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="taobao_url" property="taobaoUrl" jdbcType="VARCHAR" />
    <result column="producing_area" property="producingArea" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="TINYINT" />
    <result column="more_data1" property="moreData1" jdbcType="VARCHAR" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_name, product_sort_id, product_sort_name, taobao_price, sales, taobao_url, 
    producing_area, source, more_data1, item_order, create_time, create_by, update_time, 
    update_by, del_flg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_br_taobao_goods
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_br_taobao_goods
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.co.example.entity.taobao.TBrTaobaoGoods" keyColumn="id" keyProperty="id" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE" >
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_br_taobao_goods (id, product_name, product_sort_id, 
      product_sort_name, taobao_price, sales, 
      taobao_url, producing_area, source, 
      more_data1, item_order, create_time, 
      create_by, update_time, update_by, 
      del_flg)
    values (#{id,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productSortId,jdbcType=VARCHAR}, 
      #{productSortName,jdbcType=VARCHAR}, #{taobaoPrice,jdbcType=DECIMAL}, #{sales,jdbcType=INTEGER}, 
      #{taobaoUrl,jdbcType=VARCHAR}, #{producingArea,jdbcType=VARCHAR}, #{source,jdbcType=TINYINT}, 
      #{moreData1,jdbcType=VARCHAR}, #{itemOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{delFlg,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.taobao.TBrTaobaoGoods" >
    update t_br_taobao_goods
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSortId != null" >
        product_sort_id = #{productSortId,jdbcType=VARCHAR},
      </if>
      <if test="productSortName != null" >
        product_sort_name = #{productSortName,jdbcType=VARCHAR},
      </if>
      <if test="taobaoPrice != null" >
        taobao_price = #{taobaoPrice,jdbcType=DECIMAL},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="taobaoUrl != null" >
        taobao_url = #{taobaoUrl,jdbcType=VARCHAR},
      </if>
      <if test="producingArea != null" >
        producing_area = #{producingArea,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="moreData1 != null" >
        more_data1 = #{moreData1,jdbcType=VARCHAR},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.taobao.TBrTaobaoGoods" >
    update t_br_taobao_goods
    set product_name = #{productName,jdbcType=VARCHAR},
      product_sort_id = #{productSortId,jdbcType=VARCHAR},
      product_sort_name = #{productSortName,jdbcType=VARCHAR},
      taobao_price = #{taobaoPrice,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=INTEGER},
      taobao_url = #{taobaoUrl,jdbcType=VARCHAR},
      producing_area = #{producingArea,jdbcType=VARCHAR},
      source = #{source,jdbcType=TINYINT},
      more_data1 = #{moreData1,jdbcType=VARCHAR},
      item_order = #{itemOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_taobao_goods t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="productName != null" >
          and t.product_name = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="productSortId != null" >
          and t.product_sort_id = #{productSortId,jdbcType=VARCHAR}
      </if>
      <if test="productSortName != null" >
          and t.product_sort_name = #{productSortName,jdbcType=VARCHAR}
      </if>
      <if test="taobaoPrice != null" >
          and t.taobao_price = #{taobaoPrice,jdbcType=DECIMAL}
      </if>
      <if test="sales != null" >
          and t.sales = #{sales,jdbcType=INTEGER}
      </if>
      <if test="taobaoUrl != null" >
          and t.taobao_url = #{taobaoUrl,jdbcType=VARCHAR}
      </if>
      <if test="producingArea != null" >
          and t.producing_area = #{producingArea,jdbcType=VARCHAR}
      </if>
      <if test="source != null" >
          and t.source = #{source,jdbcType=TINYINT}
      </if>
      <if test="moreData1 != null" >
          and t.more_data1 = #{moreData1,jdbcType=VARCHAR}
      </if>
      <if test="itemOrder != null" >
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null" >
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="delFlg != null" >
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from t_br_taobao_goods t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_taobao_goods t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from t_br_taobao_goods where id in (
    select t.id from (select * from t_br_taobao_goods) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.co.example.entity.taobao.aide.TBrTaobaoGoodsVo" extends="BaseResultMap" >
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.product_name, 
    t.product_sort_id, 
    t.product_sort_name, 
    t.taobao_price, 
    t.sales, 
    t.taobao_url, 
    t.producing_area, 
    t.source, 
    t.more_data1, 
    t.item_order, 
    t.create_time, 
    t.create_by, 
    t.update_time, 
    t.update_by, 
    t.del_flg
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause" >
    <!-- <if test="queryBeanField != null" > -->
    <!-- and dbField = #{queryBeanField,jdbcType=dbFieldStyle} -->
    <!-- </if> -->
  </sql>
  <sql id="Table_Join_Clause" >
    <!-- left join tableName tn on t.primaryKey=tn.foreignKey -->
  </sql>
</mapper>