<html  layout:decorator="/common/layout_iframe" >
<section  layout:fragment="myCss">
	<link rel="stylesheet" type="text/css" href="/base/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" />
	<style type="text/css">
	.ztree li span.button.add {
		margin-left:2px; 
		margin-right: -1px; 
		background-position:-144px 0; 
		vertical-align:top; 
		*vertical-align:middle
	}
	</style>
</section>
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 肤质测试管理 
		<span class="c-gray en">&gt;</span> 题目类型管理 
		<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container" >
		<p class="f-20 text-success">题目类型树形展示</p>
		<div class="line mb-10"></div>
		<section class="container">
	        <div class="responsive">
	            <div class="row cl">
	                <div class="col-md-3">
						<ul id="treeDemo" class="ztree"></ul>
					</div>
	                <div class="col-md-9">
	                	<table class="table table-border table-bordered table-bg table-hover mt-10">
							<thead>
								<tr>
									<th colspan="10" scope="col">
										节点详情
									</th>
								</tr>
								<tr class="text-c ">
									<th>节点名称</th>
									<th>层级</th>
									<th>最小得分</th>
									<th>最大得分</th>
									<th>字母标志</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-c">									
									<td id="name"></td>
									<td id="typeLevel"></td>
									<td id="gradeMin"></td>
									<td id="gradeMax"></td>
									<td id="flag"></td>
									<td id="remark"></td>
									<td id="oper">   
									 	<a style="text-decoration:none;display:none" href="javascript:void(0);" title="新增子节点" class="ml-5 add" >
											<i class="Hui-iconfont">&#xe600;</i>
										</a> 
									 	<a style="text-decoration:none" href="javascript:void(0);" title="编辑该节点" class="ml-5 edit" >
											<i class="Hui-iconfont">&#xe6df;</i>
										</a> 
										<a  style="text-decoration:none;display:none" href="javascript:void(0);" title="删除该节点 " class="ml-5 delete" >
											<i class="Hui-iconfont">&#xe6e2;</i>
										</a>
									</td>
								</tr>					
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<section  layout:fragment="my">
	<script type="text/javascript" src="/base/lib/zTree/v3/js/jquery.ztree.all-3.5.js"></script>
	<script type="text/javascript" src="/js/questiontype/list.js"></script>
</section>
</html>