<!DOCTYPE HTML>
<html  layout:decorator="/common/layout_dialog">
<section layout:fragment="myCss">
<style type="text/css">
.box{
	border: 1px solid #ccc;
	}

</style>
</section>
<body>
<section layout:fragment="main">
	<div class="page-container" >
		<div class=" cl">			
			<div class="l" style="width:100%">
				<div >
					<strong class='f-20' th:text="${one.enterpriseName}">加载中…</strong>
					<span class="ml-10">许可证编号：<span th:text="${one.applySn}">加载中…</span></span>
					<span class="ml-10" th:if="${permission!=null}">有效期至：<span  th:text="${permission.endDate}">加载中…</span></span>
					<span class="ml-10" th:if="${permission!=null}">发证日期： <span  th:text="${permission.startDate}">加载中…</span></span>
					<span class="r">
						<a  target="_blank" th:href="@{'http://125.35.6.84:81/xk/itownet/portal/dzpz.jsp?id='+${permission.moreData1}}"  th:if="${permission!=null}" class="btn btn-primary">查看许可证</a>
						<a  target="_blank" th:href="${base.moreData1}" th:if="${register!=null}" class="btn btn-primary">查看企业</a>
					</span>
				</div>
				<div class="cl mt-5 ml-30">
					<div class=" l" style='width:33%'>
						<div class="pt-10 pb-10 ml-20 box">
							<div class="text-c">合作品牌</div>						
							<div class="text-c base1">加载中…</div>
						</div>
					</div>	
					<div class=" l" style='width:33%'>
						<div class="pt-10 pb-10 ml-20 box">
							<div class="text-c">生产品类</div>						
							<div class="text-c base2">加载中…</div>
						</div>
					</div>	
					<div class=" l" style='width:33%'>
						<div class="pt-10 pb-10 ml-20 box">
							<div class="text-c">生产产品数量</div>						
							<div class="text-c base3">加载中…</div>
						</div>
					</div>						
				</div>		
			</div>
		</div>	
		<div id="tab_demo" class="HuiTab mt-10">
			<div class="tabBar clearfix">
				<span>生产品类分析</span>
				<span id="tabBar2">合作品牌分析</span>
				<span >供应商介绍</span>
			</div>
			<div class="tabCon">
				<div class="l ml-5" style='width:48%'>
					<div>供应商生产品类构成占比</div>
					<div class="line"></div>
					<div id='chart1' style='height: 600px;' ></div>
				</div>
				<div class="l ml-5 mb-10" style='width:50%'>
					<div>供应商生产品类备案产品数</div>
					<div class="line"></div>
					<div id='process1' style='height: 600px;' ></div>
				</div>
				<table class="table table-border table-bordered table-bg table-hover">
					<thead>
						<tr>
							<th colspan="10" scope="col">
								商品列表
							</th>
						</tr>
						<tr class="text-c ">
							<th>序号</th>
							<th>产品名称</th>
							<th>品牌</th>
							<th>品类</th>
							<th>淘宝价格</th>
							<th>全网月销量↓</th>
							<th>全网月销售额</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="productList">
					</tbody>
				</table>
				<div id="pPage" ></div>
			</div>
			<div class="tabCon">
				<div class="l ml-5" style='width:48%'>
					<div>合作品牌构成占比</div>
					<div class="line"></div>
					<div id='chart2' style='height: 600px;' ></div>
				</div>
				<div class="l ml-5 mb-10" style='width:50%'>
					<div>合作品牌生产产品数</div>
					<div class="line"></div>
					<div id='process2' style='height: 600px;' ></div>
				</div>
				<table class="table table-border table-bordered table-bg table-hover">
					<thead>
						<tr>
							<th colspan="10" scope="col">
								品牌列表
							</th>
						</tr>
						<tr class="text-c ">
							<th>序号</th>
							<th>品牌名称</th>
							<th>品牌等级</th>
							<th>品类</th>
							<th>备案数</th>
							<th>生产产品占比</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="polist">
					</tbody>
				</table>
				<div id="poPage" ></div>
			</div>
			<div class="tabCon">
				<table class="table table-border table-bordered table-bg table-hover" th:if="${permission != null }" >
					<thead>
						<tr><th colspan="10" scope="col">许可信息</th></tr>						
					</thead>
					<tbody>
						<tr><td class="text-r" style="width:20%">许可证编号：</td><td class="text-l" th:text="${permission.permissionId}"></td></tr>
						<tr><td class="text-r" style="width:20%">许可项目：</td><td class="text-l" th:text="${permission.permissionProject}"></td></tr>
						<tr><td class="text-r" style="width:20%">企业住所：</td><td class="text-l" th:text="${permission.enterpriseLocal}"></td></tr>
						<tr><td class="text-r" style="width:20%">生产地址：</td><td class="text-l" th:text="${permission.productingLocal}"></td></tr>
						<tr><td class="text-r" style="width:20%">社会信用代码：</td><td class="text-l" th:text="${permission.creditId}"></td></tr>
						<tr><td class="text-r" style="width:20%">法定代表人：</td><td class="text-l" th:text="${permission.personLegal}"></td></tr>
						<tr><td class="text-r" style="width:20%">企业负责人：</td><td class="text-l" th:text="${permission.personIncharge}"></td></tr>
						<tr><td class="text-r" style="width:20%">质量负责人：</td><td class="text-l" th:text="${permission.personQuality}"></td></tr>
						<tr><td class="text-r" style="width:20%">发证机关：</td><td class="text-l" th:text="${permission.licenseOffice}"></td></tr>
						<tr><td class="text-r" style="width:20%">签发人：</td><td class="text-l" th:text="${permission.licensePerson}"></td></tr>
						<tr><td class="text-r" style="width:20%">日常监督管理机构：</td><td class="text-l" th:text="${permission.supervisionOffice}"></td></tr>
						<tr><td class="text-r" style="width:20%">日常监督管理人员：</td><td class="text-l" th:text="${permission.supervisionPerson}"></td></tr>
						<tr><td class="text-r" style="width:20%">有效期至：</td><td class="text-l" th:text="${permission.endDate}"></td></tr>
						<tr><td class="text-r" style="width:20%">发证日期：</td><td class="text-l" th:text="${permission.startDate}"></td></tr>
						<tr><td class="text-r" style="width:20%">状态：</td><td class="text-l" >正常</td></tr>

					</tbody>
				</table>
				<table class="table table-border table-bordered table-bg table-hover"  th:if="${register!=null}">
					<thead>
						<tr><th colspan="10" scope="col">注册信息</th></tr>						
					</thead>
					<tbody>
						<tr><td class="text-r" style="width:20%">法&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人： </td><td class="text-l" th:text="${register.legalPerson}"></td></tr>
						<tr><td class="text-r" style="width:20%">注册资本： </td><td class="text-l" th:text="${register.registerCapital}"></td></tr>
						<tr><td class="text-r" style="width:20%">企业状态： </td><td class="text-l" th:text="${register.enterpriseStatus}"></td></tr>
						<tr><td class="text-r" style="width:20%">工商注册号： </td><td class="text-l" th:text="${register.registerId}"></td></tr>
						<tr><td class="text-r" style="width:20%">组织机构代码： </td><td class="text-l" th:text="${register.orgId}"></td></tr>
						<tr><td class="text-r" style="width:20%">统一信用代码： </td><td class="text-l" th:text="${register.creditId}"></td></tr>
						<tr><td class="text-r" style="width:20%">企业类型： </td><td class="text-l" th:text="${register.enterpriseType}"></td></tr>
						<tr><td class="text-r" style="width:20%">纳税人识别号： </td><td class="text-l" th:text="${register.revenueId}"></td></tr>
						<tr><td class="text-r" style="width:20%">行业类型： </td><td class="text-l" th:text="${register.industryType}"></td></tr>
						<tr><td class="text-r" style="width:20%">营业期限： </td><td class="text-l" th:text="${register.businessTerm}"></td></tr>
						<tr><td class="text-r" style="width:20%">注册日期：  </td><td th:if="${register.registerDate != null }" th:text="${#dates.format(register.registerDate, 'yyyy-MM-dd')}"></td></tr>
						<tr><td class="text-r" style="width:20%">核准日期：  </td><td th:if="${register.approveDate != null }" th:text="${#dates.format(register.approveDate, 'yyyy-MM-dd')}"></td></tr>
						<tr><td class="text-r" style="width:20%">登记机关： </td><td class="text-l" th:text="${register.registerAuthority}"></td></tr>
						<tr><td class="text-r" style="width:20%">注册地址： </td><td class="text-l" th:text="${register.registerAddress}"></td></tr>
						<tr><td class="text-r" style="width:20%">英文名称： </td><td class="text-l" th:text="${register.nameEn}"></td></tr>
						<tr><td class="text-r" style="width:20%">经营范围： </td><td class="text-l" th:text="${register.businessScope}"></td></tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
</section>
<section  layout:fragment="my">
	<script type="text/javascript" src="/base/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/base/lib/echarts/4.3.0/echarts.min.js"></script>
	<script type="text/javascript" src="/base/lib/echarts/4.3.0/china.js"></script>
	<script type="text/javascript" src="/base/lib/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/js/common/formpage_post.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/enterprise/index.js?version=4"></script>
	<script id="polistTmp" type="text/x-jquery-tmpl">
	  {{each(i,item) content}} 
	<tr  class="text-c">
	<td>${size*number+i+1}</td>
	<td>${item.tbrBrandName}</td>
	<td>${item.tbrBrandLevel}</td>								
	<td>${item.catagoryNum}</td>								
	<td>${item.productNum}</td>								
	<td>${(item.curProductNum/item.productNum*100).toFixed(2)}%</td>	
	<td>								
		<a  style="text-decoration:none" href="/brand/index/${item.id}"  title="数据分析" target="_blank" >
			<i class="Hui-iconfont">&#xe621;</i>数据分析
		</a> 
	</td>							
	</tr>		
	  {{/each}}
	</script>
	<script id="productListTmp" type="text/x-jquery-tmpl">
{{each(i,item) content}} 
  <tr  class="text-c">
	<td>${size*number+i+1}</td>
	<td>
		<a href="/product/detail/${item.id}"   target="_blank">
			<span >${item.productName}</span>
		</a>
	</td>
	<td>${item.productBrandName}</td> 
	<td>${item.categoryName}</td>
	<td>${item.taobaoPrice}</td>								
	<td>${item.taobaoSale}</td>								
	<td>${item.taobaoTurnover}</td>								
	<td>								
		<a  style="text-decoration:none" href="javascript:void(0);" data-id="${item.id}" title="商品链接" class="conn" >
			<i class="Hui-iconfont">&#xe6f1;</i>商品链接
		</a> 
	</td>							
  </tr>		
{{/each}}
	</script>
</section>
</body>
</html>