<section th:fragment="js">
	<script type="text/javascript" src="/base/lib/aui/js/api.js"></script>
	<script type="text/javascript" src="/base/lib/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/base/lib/way.js"></script>
	<script type="text/javascript" src="/js/common/base.js"></script>
	<script type="text/javascript" src="/js/common/jquerysession.js"></script>
	<script type="text/javascript">
	var isWechatAll = false;
	var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
    	isWechatAll = true;
    } else {
    	isWechatAll = false;
    }
    var normalUrl =true;
    var pathname = window.document.location.pathname;
    if(pathname =="/" 
    		||pathname == "/product/init" 
    		||pathname == "/contrast/list"
    		||pathname == "/address/init"
    		){
    	normalUrl = false;
    }
    
    if(isWechatAll && normalUrl){
    	$('header').hide();
    }
    
    
    
    
	</script>
</section>