<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta content="text/html;charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script sec="js/jquery-1.12.1.js"></script>
<script sec="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<title>用户</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <div th:if="${message!=null}">
                <caption th:text="${message}"></caption>
            </div>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>aehyok</td>
                    <td>leo</td>
                    <td>@aehyok</td>
                </tr>
                <tr>
                    <td>lynn</td>
                    <td>thl</td>
                    <td>@lynn</td>
                </tr>
            </tbody>
            <tbody th:each="SysUser:${sysUserList}">
                <tr>
                    <td th:text="${SysUser.id}"></td>
                    <td th:text="${SysUser.name}"></td>
                    <td th:text="${SysUser.Phone}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>