<html  layout:decorator="/common/layout_iframe" >
<section  layout:fragment="myCss">
	<link rel="stylesheet" type="text/css" href="/base/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" />
	<style type="text/css">
	.ztree li span.button.add {
		margin-left:2px; 
		margin-right: -1px; 
		background-position:-144px 0; 
		vertical-align:top; 
		*vertical-align:middle
	}
	</style>
</section>
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> ztree管理 
		<span class="c-gray en">&gt;</span> ztree测试 
		<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container" >
		<p class="f-20 text-success">题目类型树形展示</p>
		<div class="line mb-10"></div>
		<button type="button" onclick="test3();" style="display:none" >test callBack</button>
		<section class="container">
	        <div class="responsive">
	            <div class="row cl">
	                <div class="col-md-12">
						<ul id="treeDemo" class="ztree"></ul>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<section  layout:fragment="my">
	<script type="text/javascript" src="/base/lib/zTree/v3/js/jquery.ztree.all-3.5.js"></script>
	<script type="text/javascript" src="/js/ztree/init.js"></script>
</section>
</html>