$(function(){
		$("#curForm").validate({
			rules:{
				#foreach( $elem in $dataList)
$elem.field:{
						required:$elem.required,
						minlength:$elem.minLength,
						maxlength:$elem.maxLength,
					},
				 #end
},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler:function(form){
				$(form).ajaxSubmit({
					type: 'post',
					url: "/$!{foo}/edit" ,
					success: function(data){
						layer.msg('编辑成功!',{icon:1,time:1000});
						
					},
	                error: function(XmlHttpRequest, textStatus, errorThrown){
						layer.msg('error!',{icon:1,time:1000});
					}
				});
				lc();
			}
		});
		
		$('.cancle').on('click',function(){
			lc()
		});	
			
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});
});


