<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="common/layout"
	th:with="title='产品列表-柠檬妆典'" >
<section layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/cstyle.css" />
	<link rel="stylesheet" type="text/css" href="/css/pro.css" />
	<link rel="stylesheet" type="text/css" href="/base/lib/laypage/1.2/skin/laypage.css" />	
</section>
<section layout:fragment="main">
		<div class="mask" style="display:none"></div>
		 <header class="aui-bar aui-bar-nav maui-header-red aui-row" id="aui-header" style="position: fixed;">
            <form action="#" method="post">
                <div class="aui-col-xs-1">
                    <a href="/" class="aui-btn aui-pull-left" >
                        <span class="aui-iconfont aui-icon-left"></span>
                    </a>
                </div>
                <div class="aui-col-xs-9">
                    <i class="aui-iconfont aui-icon-search maui-icon-search"></i>
                    <input type="text" id="search_key" value="">
                </div>
                <div class="aui-col-xs-2" style="font-size: 0.8rem;"><a href="javascript:void(0);" class="search" >搜索</a></div>
            </form>
        </header>
       <div class="pro_list" style="margin-top:45px">
       		<ul class="pro_sx">
       			<li class="fenlei">
       				 <a id="tree1" >分类 <div class="triangle"></div></a>
					 <a id="tree2" >功效  <div class="triangle"></div></a>
       				 <a id="sales" >销量  <div class="triangle"></div></a>
					 <a id="goodcomment" >好评度  <div class="triangle"></div></a>
				</li>
       			<li class="pro_cont">
       				<div class="pro_cont_1 classifyArr"  >
       					<div class="result" id="classify">
	       					<a data-index=1 class="reset">重置</a>
	       					<a class="determine">确定</a>
       					</div>
       				</div>
       				<div class="pro_cont_1 affectArr">
       					<div class="result" id="affect">
	       					<a data-index=2 class="reset">重置</a>
	       					<a class="determine">确定</a>
       					</div>
       				</div>
       			</li>
       		</ul>
       		<ul class="pro_sp maui-picture-list" id="list">
       		</ul>
       		<div>
       			<img id="loading" src="/img/loading2.gif" style="margin: 0 auto;display:none" />
       		</div>
       		<div data-totalPages='${page.totalPages}'  style="right:20px" id="pageCont"></div>
       </div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/base/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/js/product/init.js"></script>
	<script type="text/javascript" src="/js/common/fallspage.js"></script>
	<script type="text/javascript" src="/js/common/footer.js"></script>
	<script id="listTmp" type="text/x-jquery-tmpl">
	{{each(i,item) page.content}} 
         <li>
			<div class="aui-col-xs-12 product${page.number}" data-id="${item.id}">
				<a href="/product/show/${item.id}">
					{{if item.moreData1!=null}}
         	           <img src="${item.moreData1}" alt="${item.productName}"/>
					{{else}}
         	           <img src="/img/no-image.png" alt="${item.productName}"/>
					{{/if}}
					<div class="goodsInfo">
						<p class="aui-ellipsis-2 productName">${item.productName}</p>
       					<div class="aui-ellipsis-2 label"></div>
						<p class="safe"></p>
       					<p>平台参考价格：${item.tmallPrice==null? '暂无':'￥'+item.tmallPrice}</p>
						<p class="match">肤质匹配度：<span class="notTest">请登录完成肤质测试</span></p>
					</div>
				</a>
			</div>
       	</li>
	{{/each}}
	</script>
</section>
</html>   