<html  layout:decorator="/common/layout_iframe" >
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 活动管理 
		<span class="c-gray en">&gt;</span> 活动详情 
		<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container" >
		<div class="line mb-10"></div>
		<section class="container">
	        <div class="responsive">
	            <div class="row cl">
	                <div class="col-md-12">
	                    <div class="panel shadow panel-default radius mt-20">
	                        <div class="panel-body">
	                            <h2 class="text-c"  th:utext="${one.title}">无名称</h2>
	                            <div class="line mt-10"></div>
	                            <div class="row cl">
		                            <div class="col-md-12">
                        				<h4>活动标题： <span th:text="${one.title}"></span></h4>
                          			     <h4>活动类型： <span th:if="${one.type==1}">试用活动</span><span th:if="${one.type!=1}">其他活动</span></h4>
                          			     
                          			     <h4>开始时间： <span th:text="${#dates.format(one.startTime, 'yyyy-MM-dd HH:mm:ss')}"></span></h4>
                           			     <h4>结束时间： <span th:text="${#dates.format(one.endTime, 'yyyy-MM-dd HH:mm:ss')}"></span></h4>
                          			     <h4>商品图片： <img th:src="@{${one.productImage}}"></img></h4>
                          			     <h4>商品数量： <span th:text="${one.productNum}"></span></h4>
                          			     <h4>参与用户数量： <span th:text="${one.userNum}"></span></h4>
                          			     <h4>活动详情： <span th:utext="${one.detail}"></span></h4>
                          		     </div>
	                            </div> 
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/js/activity/show.js"></script>
</section>
</html>
