<html layout:decorator="/common/layout_iframe">
<section layout:fragment="myCss">
	<style type="text/css">
table td {
	width: 16.666666666%;
}
.delItem{
    border: 1px solid rgb(242, 242, 242);
    background-color: #ccc;
    border-radius: 3px;
    display: initial;
    padding: 2px;
}
.delItem .del{
    border-left: 1px solid rgba(228, 228, 228, 1);
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.openTitle{
	font-size: 18px;
    border-bottom: 1px solid  rgb(242, 242, 242);
    background-color: #eee;
}

.myList{
    width: 200px;
    float: left;
    position: fixed;
    z-index: 99;
    background-color: #fff;

}
.myList .item{
border-bottom: 1px solid #eee;
cursor:pointer;
}

</style>
</section>
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		产品管理 <span class="c-gray en">&gt;</span> 产品对比
		 <a
			class="btn btn-success radius r btn-refresh"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i>
		</a>
		<a class="btn btn-primary radius r " style="line-height:1.6em;margin-top:3px;margin-right:3px" href="javascript:history.go(-1);" title="返回" ><i class="Hui-iconfont">&#xe66b;</i></a>
	</nav>
	<div class="page-container">
		<div class="panel panel-default">
			<div class="panel-header">备案产品对比</div>
			<div class="panel-body">
				<div class="row cl">
					<div class="col-md-12">
						<table 	class="table table-border table-bordered table-bg table-hover mt-10">
							<thead>
								<tr>
									<th colspan="10" scope="col">基本信息对比</th>									
								</tr>
							</thead>
							<tbody>
								<tr class="text-c baseList1">
									<td class="listSize" th:attr="data-size=${list.size()}">产品名称</td>
									<td th:each="one:${list}">	
										<strong  th:attr="data-id=${one.id},data-text=${one.productName}" class='Hui-iconfont r del2' style="color:#999;cursor:pointer;margin-top: -5px;" onMouseOver="this.style.color='#F00'" onMouseOut="this.style.color='#999'">&#xe6a6;</strong>								   
										<a th:if="${one} ne null" class="idClass" th:attr="data-id=${one.id}" th:href="@{'/product/detail/'+${one.id}}" target="_self">
											<span style='font-weight: 600;' th:utext="${one.productName}"></span>
										</a>								 
									</td>								
								</tr>
								<tr class="text-c baseList2">
									<td>产品品牌</td>
									<td th:each="one:${list}">
										<span th:if="${one} ne null and ${one.brandName} ne null" th:text="${one.brandName}"></span>									 
									</td>							
								</tr>
								<tr class="text-c baseList2">
									<td>备案日期</td>
									<td th:each="one:${list}">
										<span th:if="${one} ne null" th:text="${one.confirmDate}"></span>									 
									</td>
								</tr>
								<tr class="text-c baseList2">
									<td>企业名称</td>
									<td th:each="one:${list}">										   
										<a th:if="${one} ne null and ${one.enterpriseId} ne null" href="javascript:void(0)"  class='showE' th:attr="data-id=${one.enterpriseId}" >
											<span th:text="${one.enterpriseName}"></span>
										</a>									 
										<span th:if="${one} ne null and ${one.enterpriseId} eq null" th:text="${one.enterpriseName}"></span>
									</td>
																 								
														
								</tr>
								<tr class="text-c  baseList2">
									<td>实际生产企业</td>
									 <td th:each="one:${list}">	
										 <div th:if="${one} ne null"   th:each="ee:${one.enterpriseList}">
											<a th:if="${ee} ne null" class='showE' th:attr="data-id=${ee.id}" href="javascript:void(0)" >
												<span th:text="${ee.enterpriseName}"></span>
											</a><br/>								 
										 </div>									   
									</td>
								
								</tr>
							</tbody>
						</table>
						<table 	class="table table-border table-bordered table-bg table-hover mt-10">
							<thead>
								<tr>
									<th colspan="10" scope="col">产品参数对比</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-c">
									<td>安全评分</td>									
									<td way-data="productScore0" >-</td>									
									<td way-data="productScore1" >-</td>									
									<td way-data="productScore2" >-</td>									
									<td way-data="productScore3" >-</td>									
									<td way-data="productScore4" >-</td>						
								</tr>								 
								<tr class="text-c">
									<td>总成分</td>									
									<td way-data="size0" >-</td>							
									<td way-data="size1" >-</td>							
									<td way-data="size2" >-</td>							
									<td way-data="size3" >-</td>							
									<td way-data="size4" >-</td>						
								</tr>								 
								<tr class="text-c">
									<td>香精</td>									
									<td way-data="essence0" >-</td>						
									<td way-data="essence1" >-</td>						
									<td way-data="essence2" >-</td>						
									<td way-data="essence3" >-</td>						
									<td way-data="essence4" >-</td>						
								</tr>								 
								<tr class="text-c">
									<td>防腐剂</td>	
									<td way-data="corrosion0" >-</td>							
									<td way-data="corrosion1" >-</td>							
									<td way-data="corrosion2" >-</td>							
									<td way-data="corrosion3" >-</td>							
									<td way-data="corrosion4" >-</td>							
								</tr>								 
								<tr class="text-c">
									<td>风险成分</td>	
									<td way-data="risk0" >-</td>									
									<td way-data="risk1" >-</td>									
									<td way-data="risk2" >-</td>									
									<td way-data="risk3" >-</td>									
									<td way-data="risk4" >-</td>									
								</tr>								 
								<tr class="text-c">
									<td>清洁成分</td>	
									<td way-data="clean0" >-</td>									
									<td way-data="clean1" >-</td>									
									<td way-data="clean2" >-</td>									
									<td way-data="clean3" >-</td>									
									<td way-data="clean4" >-</td>									
								</tr>								 
								<tr class="text-c">
									<td>表活成分</td>	
									<td way-data="active0" >-</td>									
									<td way-data="active1" >-</td>									
									<td way-data="active2" >-</td>									
									<td way-data="active3" >-</td>									
									<td way-data="active4" >-</td>									
								</tr>							 			 
							</tbody>
						</table>
						
						<table 	class="table table-border table-bordered table-bg table-hover mt-10">
							<thead>
								<tr>
									<th colspan="10" scope="col">产品成分对比</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-c">
									<td>产品成分</td>									
									<td way-data="ingredient0" >-</td>									
									<td way-data="ingredient1" >-</td>									
									<td way-data="ingredient2" >-</td>									
									<td way-data="ingredient3" >-</td>									
									<td way-data="ingredient4" >-</td>					
								</tr>						 
							</tbody>
						</table>

					</div>
				</div>
			</div>
			
			<div id="openDiv" style="display:none" >
				<!--
				 <div class="cl openTitle">
				 	<div class="ml-20  mt-10 " style="display: inline-block;font-weight: bold;color: #666;">选择对比产品</div>
					<div class="r closeDiv" style="padding-right: 24px;padding-top: 7px;cursor:pointer;"><i class='Hui-iconfont'>&#xe6a6;</i></div>							 
				</div>
				 -->
				<div class="cl mt-10">
					<label class="form-label col-xs-3 " >
							选择产品：
					</label>
					<div class="formControls col-xs-9">
						<input  type="text"  class="input-text myInput" style="width: 80%;"/>
				 		<ul class='myList'>					 
						</ul>		   
					</div>
				</div>
				<div class='delList'>
					<div class=" cl mt-10 "  th:each="one:${list}">
						<div class="form-label col-xs-12">
							<div class="delItem">
							 	<span  th:utext="${one.productName}">之源清透组合水润保湿精华液</span>
								<strong class="del"   th:attr="data-id=${one.id}" ><i   class='Hui-iconfont'>&#xe6a6;</i></strong>							 
							</div>							
						</div>					 
					</div>
				</div>
			 
				<div class="line mt-10 mb-10"></div>
			 <!-- 
				
				<div class=" cl mt-10 mb-10">
					<div class="col-xs-8 col-xs-offset-4 ">
						<input class="btn btn-primary-outline radius" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;"/>
						<input class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;确定&nbsp;&nbsp;"/>
					</div>
				</div>
				 -->
			</div>
			
			
		</div>
	</div>
</section>
<section layout:fragment="my">	
	<script type="text/javascript" src="/base/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/js/common/formpage.js"></script>
	<script type="text/javascript" src="/js/contrast/detail.js"></script>
</section>
</html>
