<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.example.sqlmaps.user.TBrUserPlanItemMapper">
  <resultMap id="BaseResultMap" type="com.co.example.entity.user.TBrUserPlanItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_plan_id" jdbcType="BIGINT" property="userPlanId" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="grade_count" jdbcType="REAL" property="gradeCount" />
    <result column="item_order" jdbcType="INTEGER" property="itemOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="is_active" jdbcType="TINYINT" property="isActive" />
    <result column="del_flg" jdbcType="TINYINT" property="delFlg" />
    <result column="app_id" jdbcType="TINYINT" property="appId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_plan_id, type_id, type_name, flag, grade_count, item_order, create_time, 
    create_by, update_time, update_by, is_active, del_flg, app_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_br_user_plan_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_br_user_plan_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.co.example.entity.user.TBrUserPlanItem">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_br_user_plan_item (id, user_plan_id, type_id, 
      type_name, flag, grade_count, 
      item_order, create_time, create_by, 
      update_time, update_by, is_active, 
      del_flg, app_id)
    values (#{id,jdbcType=BIGINT}, #{userPlanId,jdbcType=BIGINT}, #{typeId,jdbcType=BIGINT}, 
      #{typeName,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{gradeCount,jdbcType=REAL}, 
      #{itemOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{isActive,jdbcType=TINYINT}, 
      #{delFlg,jdbcType=TINYINT}, #{appId,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.user.TBrUserPlanItem">
    update t_br_user_plan_item
    <set>
      <if test="userPlanId != null">
        user_plan_id = #{userPlanId,jdbcType=BIGINT},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="gradeCount != null">
        grade_count = #{gradeCount,jdbcType=REAL},
      </if>
      <if test="itemOrder != null">
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.user.TBrUserPlanItem">
    update t_br_user_plan_item
    set user_plan_id = #{userPlanId,jdbcType=BIGINT},
      type_id = #{typeId,jdbcType=BIGINT},
      type_name = #{typeName,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      grade_count = #{gradeCount,jdbcType=REAL},
      item_order = #{itemOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_active = #{isActive,jdbcType=TINYINT},
      del_flg = #{delFlg,jdbcType=TINYINT},
      app_id = #{appId,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap">
    select 
    <include refid="Vo_Column_List" />
    from t_br_user_plan_item t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause">
    <where>
      <if test="id != null">
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="userPlanId != null">
          and t.user_plan_id = #{userPlanId,jdbcType=BIGINT}
      </if>
      <if test="typeId != null">
          and t.type_id = #{typeId,jdbcType=BIGINT}
      </if>
      <if test="typeName != null">
          and t.type_name = #{typeName,jdbcType=VARCHAR}
      </if>
      <if test="flag != null">
          and t.flag = #{flag,jdbcType=VARCHAR}
      </if>
      <if test="gradeCount != null">
          and t.grade_count = #{gradeCount,jdbcType=REAL}
      </if>
      <if test="itemOrder != null">
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null">
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null">
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null">
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="isActive != null">
          and t.is_active = #{isActive,jdbcType=TINYINT}
      </if>
      <if test="delFlg != null">
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <if test="appId != null">
          and t.app_id = #{appId,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null">
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(t.id) from t_br_user_plan_item t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap">
    select 
    <include refid="Vo_Column_List" />
    from t_br_user_plan_item t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map">
    delete from t_br_user_plan_item where id in (
    select t.id from (select * from t_br_user_plan_item) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap extends="BaseResultMap" id="VoResultMap" type="com.co.example.entity.user.aide.TBrUserPlanItemVo">
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
  </resultMap>
  <sql id="Vo_Column_List">
    t.id, 
    t.user_plan_id, 
    t.type_id, 
    t.type_name, 
    t.flag, 
    t.grade_count, 
    t.item_order, 
    t.create_time, 
    t.create_by, 
    t.update_time, 
    t.update_by, 
    t.is_active, 
    t.del_flg, 
    t.app_id
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause">
    <!-- <if test="queryBeanField != null" > -->
    <!-- and dbField = #{queryBeanField,jdbcType=dbFieldStyle} -->
    <!-- </if> -->
  </sql>
  <sql id="Table_Join_Clause">
    <!-- left join tableName tn on t.primaryKey=tn.foreignKey -->
  </sql>
 </mapper>