<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.example.sqlmaps.user.TBrUserApplyMapper" >
  <resultMap id="BaseResultMap" type="com.co.example.entity.user.TBrUserApply" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="oper_by" property="operBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
    <result column="app_id" property="appId" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, item_order, oper_time, oper_by, create_time, create_by, update_time, 
    update_by, is_active, del_flg, app_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_br_user_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_br_user_apply
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.co.example.entity.user.TBrUserApply" keyColumn="id" keyProperty="id" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE" >
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_br_user_apply (id, activity_id, item_order, 
      oper_time, oper_by, create_time, 
      create_by, update_time, update_by, 
      is_active, del_flg, app_id
      )
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{itemOrder,jdbcType=INTEGER}, 
      #{operTime,jdbcType=TIMESTAMP}, #{operBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{isActive,jdbcType=TINYINT}, #{delFlg,jdbcType=TINYINT}, #{appId,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.user.TBrUserApply" >
    update t_br_user_apply
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="operTime != null" >
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operBy != null" >
        oper_by = #{operBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.user.TBrUserApply" >
    update t_br_user_apply
    set activity_id = #{activityId,jdbcType=BIGINT},
      item_order = #{itemOrder,jdbcType=INTEGER},
      oper_time = #{operTime,jdbcType=TIMESTAMP},
      oper_by = #{operBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_active = #{isActive,jdbcType=TINYINT},
      del_flg = #{delFlg,jdbcType=TINYINT},
      app_id = #{appId,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_user_apply t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="activityId != null" >
          and t.activity_id = #{activityId,jdbcType=BIGINT}
      </if>
      <if test="itemOrder != null" >
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="operTime != null" >
          and t.oper_time = #{operTime,jdbcType=TIMESTAMP}
      </if>
      <if test="operBy != null" >
          and t.oper_by = #{operBy,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null" >
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="isActive != null" >
          and t.is_active = #{isActive,jdbcType=TINYINT}
      </if>
      <if test="delFlg != null" >
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <if test="appId != null" >
          and t.app_id = #{appId,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from t_br_user_apply t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_user_apply t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from t_br_user_apply where id in (
    select t.id from (select * from t_br_user_apply) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.co.example.entity.user.aide.TBrUserApplyVo" extends="BaseResultMap" >
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
     <result column="title" property="title" jdbcType="VARCHAR" />
     <result column="admin_display_name" property="adminDisplayName" jdbcType="VARCHAR" />
     <result column="user_display_name" property="userDisplayName" jdbcType="VARCHAR" />
     <result column="product_image" property="productImage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.activity_id, 
    t.item_order, 
    t.oper_time, 
    t.oper_by, 
    t.create_time, 
    t.create_by, 
    t.update_time, 
    t.update_by, 
    t.is_active, 
    t.del_flg, 
    t.app_id
    <if test="joinActivity" >
     ,tba.title
     ,tba.product_image
     ,ta.display_name admin_display_name
     ,tu.display_name user_display_name
     </if>
  </sql>
  <sql id="Vo_Where_Clause" >
    <if test="titleLike != null" >
        and tba.title like concat ('%', #{titleLike,jdbcType=VARCHAR},'%')
     </if>
    <if test="userDisplayNameLike != null" >
        and tu.display_name like concat ('%', #{userDisplayNameLike,jdbcType=VARCHAR},'%')
     </if>
  </sql>
  <sql id="Table_Join_Clause" >
    <if test="joinActivity" >
   		 left join t_br_activity tba on t.activity_id=tba.id
   		 left join t_admin ta on t.oper_by = ta.id
   		 left join t_user tu on t.create_by = tu.id
    </if>
  </sql>
</mapper>