<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.example.sqlmaps.user.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.co.example.entity.user.TUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="head_image" property="headImage" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="visit_count" property="visitCount" jdbcType="SMALLINT" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="last_ip" property="lastIp" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wx" property="wx" jdbcType="VARCHAR" />
    <result column="qq_open_id" property="qqOpenId" jdbcType="VARCHAR" />
    <result column="wx_open_id" property="wxOpenId" jdbcType="VARCHAR" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login_name, display_name, person_name, head_image, age, sex, password, email, 
    mobile_phone, visit_count, last_time, last_ip, qq, wx, qq_open_id, wx_open_id, item_order, 
    create_time, create_by, update_time, update_by, is_active, del_flg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.co.example.entity.user.TUser" keyColumn="id" keyProperty="id" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE" >
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_user (id, login_name, display_name, 
      person_name, head_image, age, 
      sex, password, email, 
      mobile_phone, visit_count, last_time, 
      last_ip, qq, wx, qq_open_id, 
      wx_open_id, item_order, create_time, 
      create_by, update_time, update_by, 
      is_active, del_flg)
    values (#{id,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, 
      #{personName,jdbcType=VARCHAR}, #{headImage,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{sex,jdbcType=TINYINT}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{visitCount,jdbcType=SMALLINT}, #{lastTime,jdbcType=TIMESTAMP}, 
      #{lastIp,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{wx,jdbcType=VARCHAR}, #{qqOpenId,jdbcType=VARCHAR}, 
      #{wxOpenId,jdbcType=VARCHAR}, #{itemOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{isActive,jdbcType=TINYINT}, #{delFlg,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.user.TUser" >
    update t_user
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        head_image = #{headImage,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="visitCount != null" >
        visit_count = #{visitCount,jdbcType=SMALLINT},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIp != null" >
        last_ip = #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wx != null" >
        wx = #{wx,jdbcType=VARCHAR},
      </if>
      <if test="qqOpenId != null" >
        qq_open_id = #{qqOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null" >
        wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.user.TUser" >
    update t_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      head_image = #{headImage,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=TINYINT},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      visit_count = #{visitCount,jdbcType=SMALLINT},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      last_ip = #{lastIp,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wx = #{wx,jdbcType=VARCHAR},
      qq_open_id = #{qqOpenId,jdbcType=VARCHAR},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      item_order = #{itemOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_active = #{isActive,jdbcType=TINYINT},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_user t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="loginName != null" >
          and t.login_name = #{loginName,jdbcType=VARCHAR}
      </if>
      <if test="displayName != null" >
          and t.display_name = #{displayName,jdbcType=VARCHAR}
      </if>
      <if test="personName != null" >
          and t.person_name = #{personName,jdbcType=VARCHAR}
      </if>
      <if test="headImage != null" >
          and t.head_image = #{headImage,jdbcType=VARCHAR}
      </if>
      <if test="age != null" >
          and t.age = #{age,jdbcType=INTEGER}
      </if>
      <if test="sex != null" >
          and t.sex = #{sex,jdbcType=TINYINT}
      </if>
      <if test="password != null" >
          and t.password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
          and t.email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="mobilePhone != null" >
          and t.mobile_phone = #{mobilePhone,jdbcType=VARCHAR}
      </if>
      <if test="visitCount != null" >
          and t.visit_count = #{visitCount,jdbcType=SMALLINT}
      </if>
      <if test="lastTime != null" >
          and t.last_time = #{lastTime,jdbcType=TIMESTAMP}
      </if>
      <if test="lastIp != null" >
          and t.last_ip = #{lastIp,jdbcType=VARCHAR}
      </if>
      <if test="qq != null" >
          and t.qq = #{qq,jdbcType=VARCHAR}
      </if>
      <if test="wx != null" >
          and t.wx = #{wx,jdbcType=VARCHAR}
      </if>
      <if test="qqOpenId != null" >
          and t.qq_open_id = #{qqOpenId,jdbcType=VARCHAR}
      </if>
      <if test="wxOpenId != null" >
          and t.wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
      </if>
      <if test="itemOrder != null" >
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null" >
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="isActive != null" >
          and t.is_active = #{isActive,jdbcType=TINYINT}
      </if>
      <if test="delFlg != null" >
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from t_user t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_user t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from t_user where id in (
    select t.id from (select * from t_user) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.co.example.entity.user.aide.TUserVo" extends="BaseResultMap" >
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.login_name, 
    t.display_name, 
    t.person_name, 
    t.head_image, 
    t.age, 
    t.sex, 
    t.password, 
    t.email, 
    t.mobile_phone, 
    t.visit_count, 
    t.last_time, 
    t.last_ip, 
    t.qq, 
    t.wx, 
    t.qq_open_id, 
    t.wx_open_id, 
    t.item_order, 
    t.create_time, 
    t.create_by, 
    t.update_time, 
    t.update_by, 
    t.is_active, 
    t.del_flg
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause" >
    <!-- <if test="queryBeanField != null" > -->
    <!-- and dbField = #{queryBeanField,jdbcType=dbFieldStyle} -->
    <!-- </if> -->
  </sql>
  <sql id="Table_Join_Clause" >
    <!-- left join tableName tn on t.primaryKey=tn.foreignKey -->
  </sql>
</mapper>