<html  layout:decorator="/common/layout_iframe" >
<section layout:fragment="main">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 产品管理 
		<span class="c-gray en">&gt;</span> 产品详情 
		<a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="page-container" >
		<div class="line mb-10"></div>
		<section class="container">
	        <div class="responsive">
	            <div class="row cl">
	                <div class="col-md-12">
	                    <div class="panel shadow panel-default radius mt-20">
	                        <div class="panel-body">
	                            <h2 class="text-c"  th:utext="${one.productName}">无名称</h2>
	                            <div class="line mt-10"></div>
	                            <div class="row cl">
		                            <div class="col-md-9">
		                            	<input type="hidden" th:value="${one.id}" id="id"/>
			                            <h4>产品别名： <span th:text="${one.productAlias}">无别名</span></h4>
			                            <h4>企业名称：	<span th:if="${oneEnterprise eq null}" th:text="${one.enterpriseName}"></span>
			                            		<a class="btn-link" th:if="${oneEnterprise ne null}" th:href="@{'/enterprise/show/'+${oneEnterprise.id}}" target="_blank">
			                          	  		   <span th:text="${one.enterpriseName}"></span>
			                            		</a>
			                            </h4>
			                            
			                            <h4>京东价格： <span th:text="${one.jdPrice}"></span></h4>
			                            <h4>天猫价格： <span th:text="${one.tmallPrice}"></span></h4>
			                            <h4>天猫销量： <span th:text="${one.sales}"></span></h4>
			                            <h4>企业英文： <span th:text="${one.enterpriseNameEn}">无企业名称</span></h4>
			                            <h4>企业地址： <span th:text="${one.producingArea}">浙江省杭州市杭州经济技术开发区xx号</span></h4>
			                            <h4>备案编号： <span th:text="${one.applySn}">闽G妆网备字2018002654</span></h4>
			                            <h4>备案类型： <span th:text="${one.applyType  eq '1' ? '国产备案':'进口备案'}"></span></h4>
			                            <h4>备案日期： <span th:text="${one.confirmDate}">2017-02-12</span></h4>
			                            <h5>备注：         <span  th:text="${one.remark}">remark</span></h5>
			                            <h4>成分分析</h4>
			                            <div class="ml-10 f-16">
				                        	  本产品含有香精:<span class="mt-10" th:text="${#lists.size(one.essenceList)}"></span>种(<span th:each="essence: ${one.essenceList}" th:text="${essence}+' '"></span>)<br/>
				                        	  本产品含有防腐剂:<span class="mt-10" th:text="${#lists.size(one.corrosionList)}"></span>种(<span th:each="corrosion: ${one.corrosionList}" th:text="${corrosion}+' '"></span>)<br/>
				                        	  本产品含有风险成分:<span class="mt-10" th:text="${#lists.size(one.riskList)}"></span>种(<span th:each="risk: ${one.riskList}" th:text="${risk}+' '"></span>)<br/>
				                        	  本产品含有清洁成分:<span class="mt-10" th:text="${#lists.size(one.cleanList)}"></span>种(<span th:each="clean: ${one.cleanList}" th:text="${clean}+' '"></span>)<br/>
				                        	  本产品含有表活成分:<span class="mt-10" th:text="${#lists.size(one.activeList)}"></span>种(<span th:each="active: ${one.activeList}" th:text="${active}+' '"></span>)<br/>
			                            </div>
			                            
			                            <!-- <h4>数据来源： <span th:text="${one.source eq 1 ? '药监局':'美丽修行'}"></span></h4> -->
		                            </div>
		                            <div class="col-md-3">
			                            <div class="row cl">
				                             <div class="col-md-12">
				                           		 <img th:if="${one.source ne 1 and #lists.size(productImageList) >0} " style="height: 300px;" th:src="${productImageList[0].bevolUrl}" alt=""/>
				                          		 <div th:if="${one.source eq 1}">
				                          		 	<div th:each="image:${productImageList}" class="text-c mt-10 f-18">
				                          		 	   <div th:if="${image.imageType eq 1}" >
				                          		 	   	   <a class="btn-link" th:href="${image.imageUrl}" target="_blank" >查看平面图</a><br/>
				                          		 	   	   <a class="btn-link" th:href="${image.downloadUrl}" target="_blank">下载平面图</a><br/>
				                          		 	   </div>
				                          		 	   <div th:if="${image.imageType eq 2}" >
				                          		 	   	   <a class="btn-link" th:href="${image.imageUrl}" target="_blank" >查看立体图</a><br/>
				                          		 	   	   <a class="btn-link" th:href="${image.downloadUrl}" target="_blank">下载立体图</a><br/>
				                          		 	   </div>
				                          		 	   <div th:if="${image.imageType eq 3}" >
				                          		 	 	   <a class="btn-link" th:href="${image.imageUrl}" target="_blank" >查看商标证、授权书 </a><br/>
				                          		 	   	   <a class="btn-link" th:href="${image.downloadUrl}" target="_blank">下载商标证、授权书 </a><br/>
				                          		 	   </div>
				                          		    </div>
				                          		 </div>
				                             </div>
			                                 <div class="col-md-12">
			                                 	<div class="text-c mt-30">
					                          		 <a th:if="${brand ne null}" th:href="@{'/brand/show/'+${brand.id}}" target="_blank">
						                          		 <img th:src="@{'/brand/'+${brand.imgUrl}}" th:alt="${brand.name}"/>
		  			                                 	 <p>【<span th:text="${brand.name}"></span>】查看品牌→</p>
					                          		 </a>
			                                 	</div>
			                                 </div>
			                            </div>
		                            </div>
	                            </div> 	                                                   
	                            
	                            <section th:if="${#lists.size(enterpriseList) >0 }">
		                            <div class="line mb-10"></div>
									<table class="table table-border table-bordered table-bg table-hover">
										<thead>
											<tr>
												<th colspan="10" scope="col">
													实际生产企业列表
												</th>
											</tr>
											<tr class="text-c ">
												<th>序号</th>
												<th>企业名称</th>
												<th>企业备案</th>
												<th>企业地址</th>
												<th>备注</th>
											</tr>
										</thead>
										<tbody>
											<section th:each="itemE,statusE:${enterpriseList}" >
												<tr class="text-c">
													<td th:text="${statusE.index+1}">1</td>
													<td>
														<a class="btn-link" th:href="@{'/enterprise/show/'+${itemE.id}}" title="查看企业信息" target="_blank">
															<span th:utext="${itemE.enterpriseName}"></span>
														</a>
													</td>
													<td th:utext="${itemE.applySn}"></td>
													<td th:utext="${itemE.producingArea}"></td>
													<td th:utext="${itemE.remark}"></td>
												</tr>					
											</section>
										</tbody>
									</table>
	                            </section>
								
	                            <div class="line mb-10"></div>
								<table class="table table-border table-bordered table-bg table-hover">
									<thead>
										<tr>
											<th colspan="10" scope="col">
												成分列表
											</th>
										</tr>
										<tr class="text-c ">
											<th>序号</th>
											<th>成分名称</th>
											<th>安全风险</th>
											<th>活性成分</th>
											<th>致痘风险</th>
											<th>使用目的</th>
										</tr>
									</thead>
									<tbody>
										<section th:each="item,status:${ingredientList}" >
											<tr class="text-c">
												<td th:text="${status.index+1}">1</td>
												<td>
													<a class="btn-link" th:href="@{'/ingredient/showMore/'+${item.id}}" title="查看详情" target="_blank">
														<span th:utext="${item.name}"></span>
													</a>
												</td>
												<td><span  th:text="${item.securityRisks}" class="badge radius" th:classappend="${item.safeColour}" >4</span></td>
												<td th:if="${item.activeIngredient eq 1}"><img src="/img/hxcf.png" alt="活性成分"/></td>
												<td th:if="${item.activeIngredient ne 1}"></td>
												<td th:if="${item.blainRisk eq 1}"><img src="/img/zdfx.png" alt="致痘风险"/></td>
												<td th:if="${item.blainRisk ne 1}"></td>
												<td>
												   <span th:each="aim:${item.tBrAims}" th:text="${aim.name}">溶剂</span> 
												</td>
												
											</tr>					
										</section>
									</tbody>
								</table>
								<!-- 规格参数  start-->
								<h3>规格参数</h3>
	                            <div class="line mt-10"></div>
	                            <div class="row cl f-18 mt-10">
		                            <div way-repeat="specList" >
			                            <div class="col-md-4 mt-5">
				                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
					                            <span way-data="keyName"></span>:
					                            <span way-data="specValueNames"></span>
				                            </div>
	           		                    </div>
		                            </div> 
	                            </div> 
	                            <!-- 规格参数  end-->
	                            
								<!-- 京东图片  start-->
								<h3>京东图片</h3>
	                            <div class="line mt-10"></div>
								<div th:if="${#lists.size(jdImageList)>0}" >
		                            <div class="row cl f-18 mt-10">
			                            <div th:each="jdImage:${jdImageList}"  >
				                            <div class="col-md-2 mt-5">
					                            <img th:src="@{'https://img12.360buyimg.com/n4/'+${jdImage.jdUrl}}" />
		           		                    </div>
			                            </div> 
		                            </div> 
	                            </div>
	                            <div th:if="${#lists.size(jdImageList)==0}" >
									<span>暂无京东图片</span>
	                            </div> 
	                            <!-- 京东图片  end-->
	                            
								<!-- 天猫图片  start-->
								<h3>天猫图片</h3>
	                            <div class="line mt-10"></div>
								<div th:if="${#lists.size(tmallImageList)>0}" >
		                            <div class="row cl f-18 mt-10">
			                            <div th:each="tmallImage:${tmallImageList}"  >
				                            <div class="col-md-2 mt-5">
					                            <img th:src="@{''+${tmallImage.tmallUrl}}" />
		           		                    </div>
			                            </div> 
		                            </div> 
	                            </div>
	                            <div th:if="${#lists.size(tmallImageList)==0}" >
									<span>暂无天猫图片</span>
	                            </div> 
	                            <!-- 天猫图片  end-->
	                            
	                            
	                            <!-- 评论  start-->
								 <h3>评论信息</h3>
                           		 <div class="line mt-10"></div>
                           		 
                           		 <div class="row cl f-18 mt-10">
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
				                            <div>天猫全部(<span way-data="cs.tmallNumAll" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>天猫配图(<span way-data="cs.tmallNumImg" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>天猫追评(<span way-data="cs.tmallNumMore" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>京东全部(<span way-data="cs.jdNumAll" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>京东配图(<span way-data="cs.jdNumImg" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>京东追评(<span way-data="cs.jdNumMore" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>京东好评(<span way-data="cs.jdNumGood" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>京东中评(<span way-data="cs.jdNumMiddle" ></span>)</div>
			                            </div>
           		                    </div>
		                            <div class="col-md-4 mt-5">
			                            <div class=" radius pt-10 pb-10 pl-10 text-c" style="border: solid 1px #84f06d;">
		                           		 	<div>京东差评(<span way-data="cs.jdNumBad" ></span>)</div>
			                            </div>
           		                    </div>
	                            </div> 
                           		 <div class="line mt-10"></div>
                           		 <div class="row cl f-18 mt-10 ml-10 mr-10">
	                            	<table class="table table-border table-bordered table-bg table-hover">
										<thead>
											<tr>
												<th colspan="10" scope="col">
													评价列表
												</th>
											</tr>
											<tr class="text-c ">
												<th width="5%">来源</th>
												<th width="15%">评论时间</th>
												<th width="10%">用户昵称</th>
												<th width="70%">评论详情</th>
											</tr>
										</thead>
										<tbody id="commentList" >
										</tbody>
									</table>
	                            </div> 
	                            <!-- 评论  end-->
	                            <h5><a class="ml-10" th:href="${one.tmallUrl}" target="_blank" >更多天猫商品信息>></a></h5>
	                            <h5><a class="ml-10" th:href="${one.jdUrl}" target="_blank" >更多京东商品信息>></a></h5>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/js/product/show.js"></script>
</section>
</html>
