<html  layout:decorator="/common/layout_iframe" >
<section layout:fragment="myCss">
	<style>
		.page-container h5{
			font-size: 16px;
			line-height: 24px;
		}
	</style>
</section>
<section layout:fragment="main">
	<div class="page-container" >
		<section class="container">
	        <div class="responsive">
	            <div class=" cl">
	                <div style="width:50%;float:left"  >
						<div class="row cl">
							<div class="r" style='margin-right: 90px;' th:if="${one.imgUrl!=null}">
								<div th:if="${#strings.contains(one.imgUrl,'http')}">
									<img class="mt-10" th:alt="${one.name}"
										th:src="@{${one.imgUrl}}"  style="width: 125px;"/>
								</div>
								<div th:if="${not #strings.contains(one.imgUrl,'http')}">
									<img class="mt-10" th:alt="${one.name}"
										th:src="@{'/brand/'+${one.imgUrl}}" style="width: 125px;"/>
								</div>
							</div>
							<div  style="width:90%;" >
								<h4>
									 <b th:text="${one.name}"></b>
								</h4>
								<h5>
									英文名： <span th:text="${one.nameEn}"></span>
								</h5>
								<h5>
									起源： <span th:text="${one.originate}"></span>
								</h5>
								<h5>
									创始人： <span th:text="${one.founder}"></span>
								</h5>
								<h5>
									创始时间： <span th:text="${one.foundDate}"></span>
								</h5>
								<h5>
									官网： <span th:text="${one.website}"></span>
								</h5>
								<h5>
									品牌故事： <span th:utext="${one.story}"></span>
								</h5>
							</div>							
						</div>
					</div>
					<div style="width:50%;float:left"  >
						<h5>共搜索到<span th:text="${count}"></span>条数据</h5>
						<table
							class="table table-border table-bordered table-bg table-hover mt-10">
							<thead>
								<tr>
									<th colspan="10" scope="col">归属该品牌的产品列表</th>
								</tr>
								<tr class="text-c ">
									<th>序号</th>
									<th>产品名称</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-c" th:each="item,status:${page.content}">
									<td th:text="${page.number*page.size+status.index+1}">1</td>
									<td>
										<a class="btn-link"
											th:href="@{'/product/detail/'+${item.id}}" title="查看详情"
											target="_parent"> 
											<span th:utext="${item.productName}"></span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="mt-10 text-r" th:attr="data-totalPages=${page.totalPages}" style="right: 20px" id="pageCont">
						</div>
					</div>

				</div>
	        </div>
	    </section>
	</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/base/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/js/common/formpage.js"></script>
	<script type="text/javascript" src="/js/product/tab1.js"></script>
</section>
</html>
