<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.example.sqlmaps.product.TBrProductMapper">
  <resultMap id="BaseResultMap" type="com.co.example.entity.product.TBrProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_alias" jdbcType="VARCHAR" property="productAlias" />
    <result column="jd_price" jdbcType="DECIMAL" property="jdPrice" />
    <result column="tmall_price" jdbcType="DECIMAL" property="tmallPrice" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="tmall_url" jdbcType="VARCHAR" property="tmallUrl" />
    <result column="jd_url" jdbcType="VARCHAR" property="jdUrl" />
    <result column="apply_type" jdbcType="VARCHAR" property="applyType" />
    <result column="apply_sn" jdbcType="VARCHAR" property="applySn" />
    <result column="enterprise_id" jdbcType="BIGINT" property="enterpriseId" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="enterprise_name_en" jdbcType="VARCHAR" property="enterpriseNameEn" />
    <result column="producing_area" jdbcType="VARCHAR" property="producingArea" />
    <result column="confirm_date" jdbcType="VARCHAR" property="confirmDate" />
    <result column="is_off" jdbcType="VARCHAR" property="isOff" />
    <result column="cfda_processid" jdbcType="VARCHAR" property="cfdaProcessid" />
    <result column="cfda_new_processid" jdbcType="VARCHAR" property="cfdaNewProcessid" />
    <result column="bevol_mid" jdbcType="VARCHAR" property="bevolMid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="source" jdbcType="TINYINT" property="source" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="is_china" jdbcType="TINYINT" property="isChina" />
    <result column="is_special" jdbcType="TINYINT" property="isSpecial" />
    <result column="taobao_price" jdbcType="DECIMAL" property="taobaoPrice" />
    <result column="taobao_sale" jdbcType="INTEGER" property="taobaoSale" />
    <result column="taobao_turnover" jdbcType="DECIMAL" property="taobaoTurnover" />
    <result column="i_score" jdbcType="DECIMAL" property="iScore" />
    <result column="product_brand_id" jdbcType="BIGINT" property="productBrandId" />
    <result column="product_brand_name" jdbcType="VARCHAR" property="productBrandName" />
    <result column="more_data1" jdbcType="VARCHAR" property="moreData1" />
    <result column="more_data2" jdbcType="VARCHAR" property="moreData2" />
    <result column="item_order" jdbcType="INTEGER" property="itemOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="del_flg" jdbcType="TINYINT" property="delFlg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_name, product_alias, jd_price, tmall_price, sales, tmall_url, jd_url, 
    apply_type, apply_sn, enterprise_id, enterprise_name, enterprise_name_en, producing_area, 
    confirm_date, is_off, cfda_processid, cfda_new_processid, bevol_mid, remark, source, 
    category_id, category_name, is_china, is_special, taobao_price, taobao_sale, taobao_turnover, 
    i_score, product_brand_id, product_brand_name, more_data1, more_data2, item_order, 
    create_time, create_by, update_time, update_by, del_flg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_br_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_br_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.co.example.entity.product.TBrProduct">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_br_product (id, product_name, product_alias, 
      jd_price, tmall_price, sales, 
      tmall_url, jd_url, apply_type, 
      apply_sn, enterprise_id, enterprise_name, 
      enterprise_name_en, producing_area, confirm_date, 
      is_off, cfda_processid, cfda_new_processid, 
      bevol_mid, remark, source, 
      category_id, category_name, is_china, 
      is_special, taobao_price, taobao_sale, 
      taobao_turnover, i_score, product_brand_id, 
      product_brand_name, more_data1, more_data2, 
      item_order, create_time, create_by, 
      update_time, update_by, del_flg
      )
    values (#{id,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productAlias,jdbcType=VARCHAR}, 
      #{jdPrice,jdbcType=DECIMAL}, #{tmallPrice,jdbcType=DECIMAL}, #{sales,jdbcType=INTEGER}, 
      #{tmallUrl,jdbcType=VARCHAR}, #{jdUrl,jdbcType=VARCHAR}, #{applyType,jdbcType=VARCHAR}, 
      #{applySn,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=BIGINT}, #{enterpriseName,jdbcType=VARCHAR}, 
      #{enterpriseNameEn,jdbcType=VARCHAR}, #{producingArea,jdbcType=VARCHAR}, #{confirmDate,jdbcType=VARCHAR}, 
      #{isOff,jdbcType=VARCHAR}, #{cfdaProcessid,jdbcType=VARCHAR}, #{cfdaNewProcessid,jdbcType=VARCHAR}, 
      #{bevolMid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{source,jdbcType=TINYINT}, 
      #{categoryId,jdbcType=BIGINT}, #{categoryName,jdbcType=VARCHAR}, #{isChina,jdbcType=TINYINT}, 
      #{isSpecial,jdbcType=TINYINT}, #{taobaoPrice,jdbcType=DECIMAL}, #{taobaoSale,jdbcType=INTEGER}, 
      #{taobaoTurnover,jdbcType=DECIMAL}, #{iScore,jdbcType=DECIMAL}, #{productBrandId,jdbcType=BIGINT}, 
      #{productBrandName,jdbcType=VARCHAR}, #{moreData1,jdbcType=VARCHAR}, #{moreData2,jdbcType=VARCHAR}, 
      #{itemOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, #{delFlg,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.product.TBrProduct">
    update t_br_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productAlias != null">
        product_alias = #{productAlias,jdbcType=VARCHAR},
      </if>
      <if test="jdPrice != null">
        jd_price = #{jdPrice,jdbcType=DECIMAL},
      </if>
      <if test="tmallPrice != null">
        tmall_price = #{tmallPrice,jdbcType=DECIMAL},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="tmallUrl != null">
        tmall_url = #{tmallUrl,jdbcType=VARCHAR},
      </if>
      <if test="jdUrl != null">
        jd_url = #{jdUrl,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=VARCHAR},
      </if>
      <if test="applySn != null">
        apply_sn = #{applySn,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="enterpriseName != null">
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseNameEn != null">
        enterprise_name_en = #{enterpriseNameEn,jdbcType=VARCHAR},
      </if>
      <if test="producingArea != null">
        producing_area = #{producingArea,jdbcType=VARCHAR},
      </if>
      <if test="confirmDate != null">
        confirm_date = #{confirmDate,jdbcType=VARCHAR},
      </if>
      <if test="isOff != null">
        is_off = #{isOff,jdbcType=VARCHAR},
      </if>
      <if test="cfdaProcessid != null">
        cfda_processid = #{cfdaProcessid,jdbcType=VARCHAR},
      </if>
      <if test="cfdaNewProcessid != null">
        cfda_new_processid = #{cfdaNewProcessid,jdbcType=VARCHAR},
      </if>
      <if test="bevolMid != null">
        bevol_mid = #{bevolMid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="isChina != null">
        is_china = #{isChina,jdbcType=TINYINT},
      </if>
      <if test="isSpecial != null">
        is_special = #{isSpecial,jdbcType=TINYINT},
      </if>
      <if test="taobaoPrice != null">
        taobao_price = #{taobaoPrice,jdbcType=DECIMAL},
      </if>
      <if test="taobaoSale != null">
        taobao_sale = #{taobaoSale,jdbcType=INTEGER},
      </if>
      <if test="taobaoTurnover != null">
        taobao_turnover = #{taobaoTurnover,jdbcType=DECIMAL},
      </if>
      <if test="iScore != null">
        i_score = #{iScore,jdbcType=DECIMAL},
      </if>
      <if test="productBrandId != null">
        product_brand_id = #{productBrandId,jdbcType=BIGINT},
      </if>
      <if test="productBrandName != null">
        product_brand_name = #{productBrandName,jdbcType=VARCHAR},
      </if>
      <if test="moreData1 != null">
        more_data1 = #{moreData1,jdbcType=VARCHAR},
      </if>
      <if test="moreData2 != null">
        more_data2 = #{moreData2,jdbcType=VARCHAR},
      </if>
      <if test="itemOrder != null">
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.product.TBrProduct">
    update t_br_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_alias = #{productAlias,jdbcType=VARCHAR},
      jd_price = #{jdPrice,jdbcType=DECIMAL},
      tmall_price = #{tmallPrice,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=INTEGER},
      tmall_url = #{tmallUrl,jdbcType=VARCHAR},
      jd_url = #{jdUrl,jdbcType=VARCHAR},
      apply_type = #{applyType,jdbcType=VARCHAR},
      apply_sn = #{applySn,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      enterprise_name_en = #{enterpriseNameEn,jdbcType=VARCHAR},
      producing_area = #{producingArea,jdbcType=VARCHAR},
      confirm_date = #{confirmDate,jdbcType=VARCHAR},
      is_off = #{isOff,jdbcType=VARCHAR},
      cfda_processid = #{cfdaProcessid,jdbcType=VARCHAR},
      cfda_new_processid = #{cfdaNewProcessid,jdbcType=VARCHAR},
      bevol_mid = #{bevolMid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      source = #{source,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      category_name = #{categoryName,jdbcType=VARCHAR},
      is_china = #{isChina,jdbcType=TINYINT},
      is_special = #{isSpecial,jdbcType=TINYINT},
      taobao_price = #{taobaoPrice,jdbcType=DECIMAL},
      taobao_sale = #{taobaoSale,jdbcType=INTEGER},
      taobao_turnover = #{taobaoTurnover,jdbcType=DECIMAL},
      i_score = #{iScore,jdbcType=DECIMAL},
      product_brand_id = #{productBrandId,jdbcType=BIGINT},
      product_brand_name = #{productBrandName,jdbcType=VARCHAR},
      more_data1 = #{moreData1,jdbcType=VARCHAR},
      more_data2 = #{moreData2,jdbcType=VARCHAR},
      item_order = #{itemOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap">
    select 
    <include refid="Vo_Column_List" />
    from t_br_product t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause">
    <where>
      <if test="id != null">
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="productName != null">
          and t.product_name = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="productAlias != null">
          and t.product_alias = #{productAlias,jdbcType=VARCHAR}
      </if>
      <if test="jdPrice != null">
          and t.jd_price = #{jdPrice,jdbcType=DECIMAL}
      </if>
      <if test="tmallPrice != null">
          and t.tmall_price = #{tmallPrice,jdbcType=DECIMAL}
      </if>
      <if test="sales != null">
          and t.sales = #{sales,jdbcType=INTEGER}
      </if>
      <if test="tmallUrl != null">
          and t.tmall_url = #{tmallUrl,jdbcType=VARCHAR}
      </if>
      <if test="jdUrl != null">
          and t.jd_url = #{jdUrl,jdbcType=VARCHAR}
      </if>
      <if test="applyType != null">
          and t.apply_type = #{applyType,jdbcType=VARCHAR}
      </if>
      <if test="applySn != null">
          and t.apply_sn = #{applySn,jdbcType=VARCHAR}
      </if>
      <if test="enterpriseId != null">
          and t.enterprise_id = #{enterpriseId,jdbcType=BIGINT}
      </if>
      <if test="enterpriseName != null">
          and t.enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
      </if>
      <if test="enterpriseNameEn != null">
          and t.enterprise_name_en = #{enterpriseNameEn,jdbcType=VARCHAR}
      </if>
      <if test="producingArea != null">
          and t.producing_area = #{producingArea,jdbcType=VARCHAR}
      </if>
      <if test="confirmDate != null">
          and t.confirm_date = #{confirmDate,jdbcType=VARCHAR}
      </if>
      <if test="isOff != null">
          and t.is_off = #{isOff,jdbcType=VARCHAR}
      </if>
      <if test="cfdaProcessid != null">
          and t.cfda_processid = #{cfdaProcessid,jdbcType=VARCHAR}
      </if>
      <if test="cfdaNewProcessid != null">
          and t.cfda_new_processid = #{cfdaNewProcessid,jdbcType=VARCHAR}
      </if>
      <if test="bevolMid != null">
          and t.bevol_mid = #{bevolMid,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
          and t.remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="source != null">
          and t.source = #{source,jdbcType=TINYINT}
      </if>
      <if test="categoryId != null">
          and t.category_id = #{categoryId,jdbcType=BIGINT}
      </if>
      <if test="categoryName != null">
          and t.category_name = #{categoryName,jdbcType=VARCHAR}
      </if>
      <if test="isChina != null">
          and t.is_china = #{isChina,jdbcType=TINYINT}
      </if>
      <if test="isSpecial != null">
          and t.is_special = #{isSpecial,jdbcType=TINYINT}
      </if>
      <if test="taobaoPrice != null">
          and t.taobao_price = #{taobaoPrice,jdbcType=DECIMAL}
      </if>
      <if test="taobaoSale != null">
          and t.taobao_sale = #{taobaoSale,jdbcType=INTEGER}
      </if>
      <if test="taobaoTurnover != null">
          and t.taobao_turnover = #{taobaoTurnover,jdbcType=DECIMAL}
      </if>
      <if test="iScore == 0">
          and t.i_score = #{iScore,jdbcType=DECIMAL}
      </if>
      <if test="productBrandId != null">
          and t.product_brand_id = #{productBrandId,jdbcType=BIGINT}
      </if>
      <if test="productBrandName != null">
          and t.product_brand_name = #{productBrandName,jdbcType=VARCHAR}
      </if>
      <if test="moreData1 != null">
          and t.more_data1 = #{moreData1,jdbcType=VARCHAR}
      </if>
      <if test="moreData2 != null">
          and t.more_data2 = #{moreData2,jdbcType=VARCHAR}
      </if>
      <if test="itemOrder != null">
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null">
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null">
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null">
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="delFlg != null">
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null">
      order by ${sorting} ,t.id desc 
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(t.id) from t_br_product t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap">
    select 
    <include refid="Vo_Column_List" />
    from t_br_product t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map">
    delete from t_br_product where id in (
    select t.id from (select * from t_br_product) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  </mapper>