<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.example.sqlmaps.product.TBrProductImageMapper" >
  <resultMap id="BaseResultMap" type="com.co.example.entity.product.TBrProductImage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="cfda_image_id" property="cfdaImageId" jdbcType="VARCHAR" />
    <result column="cfda_ssid" property="cfdaSsid" jdbcType="VARCHAR" />
    <result column="bevol_url" property="bevolUrl" jdbcType="VARCHAR" />
    <result column="tmall_url" property="tmallUrl" jdbcType="VARCHAR" />
    <result column="jd_url" property="jdUrl" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="image_type" property="imageType" jdbcType="TINYINT" />
    <result column="source" property="source" jdbcType="TINYINT" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, product_id, cfda_image_id, cfda_ssid, bevol_url, tmall_url, jd_url, file_type, 
    image_type, source, item_order, create_time, create_by, update_time, update_by, is_active, 
    del_flg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_br_product_image
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_br_product_image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.co.example.entity.product.TBrProductImage" keyColumn="id" keyProperty="id" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE" >
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_br_product_image (id, name, product_id, 
      cfda_image_id, cfda_ssid, bevol_url, 
      tmall_url, jd_url, file_type, 
      image_type, source, item_order, 
      create_time, create_by, update_time, 
      update_by, is_active, del_flg
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{productId,jdbcType=BIGINT}, 
      #{cfdaImageId,jdbcType=VARCHAR}, #{cfdaSsid,jdbcType=VARCHAR}, #{bevolUrl,jdbcType=VARCHAR}, 
      #{tmallUrl,jdbcType=VARCHAR}, #{jdUrl,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, 
      #{imageType,jdbcType=TINYINT}, #{source,jdbcType=TINYINT}, #{itemOrder,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{isActive,jdbcType=TINYINT}, #{delFlg,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.product.TBrProductImage" >
    update t_br_product_image
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="cfdaImageId != null" >
        cfda_image_id = #{cfdaImageId,jdbcType=VARCHAR},
      </if>
      <if test="cfdaSsid != null" >
        cfda_ssid = #{cfdaSsid,jdbcType=VARCHAR},
      </if>
      <if test="bevolUrl != null" >
        bevol_url = #{bevolUrl,jdbcType=VARCHAR},
      </if>
      <if test="tmallUrl != null" >
        tmall_url = #{tmallUrl,jdbcType=VARCHAR},
      </if>
      <if test="jdUrl != null" >
        jd_url = #{jdUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="imageType != null" >
        image_type = #{imageType,jdbcType=TINYINT},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=TINYINT},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.product.TBrProductImage" >
    update t_br_product_image
    set name = #{name,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=BIGINT},
      cfda_image_id = #{cfdaImageId,jdbcType=VARCHAR},
      cfda_ssid = #{cfdaSsid,jdbcType=VARCHAR},
      bevol_url = #{bevolUrl,jdbcType=VARCHAR},
      tmall_url = #{tmallUrl,jdbcType=VARCHAR},
      jd_url = #{jdUrl,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      image_type = #{imageType,jdbcType=TINYINT},
      source = #{source,jdbcType=TINYINT},
      item_order = #{itemOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_active = #{isActive,jdbcType=TINYINT},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_product_image t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null" >
          and t.name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="productId != null" >
          and t.product_id = #{productId,jdbcType=BIGINT}
      </if>
      <if test="cfdaImageId != null" >
          and t.cfda_image_id = #{cfdaImageId,jdbcType=VARCHAR}
      </if>
      <if test="cfdaSsid != null" >
          and t.cfda_ssid = #{cfdaSsid,jdbcType=VARCHAR}
      </if>
      <if test="bevolUrl != null" >
          and t.bevol_url = #{bevolUrl,jdbcType=VARCHAR}
      </if>
      <if test="tmallUrl != null" >
          and t.tmall_url = #{tmallUrl,jdbcType=VARCHAR}
      </if>
      <if test="jdUrl != null" >
          and t.jd_url = #{jdUrl,jdbcType=VARCHAR}
      </if>
      <if test="fileType != null" >
          and t.file_type = #{fileType,jdbcType=VARCHAR}
      </if>
      <if test="imageType != null" >
          and t.image_type = #{imageType,jdbcType=TINYINT}
      </if>
      <if test="source != null" >
          and t.source = #{source,jdbcType=TINYINT}
      </if>
      <if test="itemOrder != null" >
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null" >
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="isActive != null" >
          and t.is_active = #{isActive,jdbcType=TINYINT}
      </if>
      <if test="delFlg != null" >
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from t_br_product_image t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_product_image t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from t_br_product_image where id in (
    select t.id from (select * from t_br_product_image) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.co.example.entity.product.aide.TBrProductImageVo" extends="BaseResultMap" >
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.name, 
    t.product_id, 
    t.cfda_image_id, 
    t.cfda_ssid, 
    t.bevol_url, 
    t.tmall_url, 
    t.jd_url, 
    t.file_type, 
    t.image_type, 
    t.source, 
    t.item_order, 
    t.create_time, 
    t.create_by, 
    t.update_time, 
    t.update_by, 
    t.is_active, 
    t.del_flg
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause" >
     <if test="tmallUrlIsNotNull" >
	      and t.tmall_url is not null
      </if>
     <if test="jdUrlIsNotNull" >
	      and t.jd_url is not null
      </if>
  </sql>
  <sql id="Table_Join_Clause" >
    <!-- left join tableName tn on t.primaryKey=tn.foreignKey -->
  </sql>
</mapper>