<!DOCTYPE HTML>
<html  layout:decorator="common/layout_iframe">
<div class="page-container" layout:fragment="main">
	<p class="f-20 text-success">欢迎使用护肤App后台管理系统 <span class="f-14">v1.0</span></p>
	<p>登录次数：<span way-data="loginInfo.visitCount"></span> 登录IP：<span way-data="loginInfo.lastIp"></span> 登录时间：<span way-data="loginInfo.lastTime"></span></p>
	<!-- 
	<div sec:authorize="isAuthenticated()">登录成功，欢迎您:</div>
	<div sec:authorize="hasRole('ROLE_sa')">超级管理员</div>
	<div sec:authorize="hasRole('ROLE_admin')">普通管理员</div>
	<div sec:authorize="hasRole('ROLE_user')">普通用户</div>
	 -->
	
	<h3>产品统计信息</h3>
	<div>截至<span id="today"></span>统计数据如下，每早1点更新一次</div>
	<div class="line"></div>
	<table class="table table-border table-bordered table-bg table-hover mt-20">
		<thead>
			<tr>
				<th colspan="16" scope="col">统计信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>产品数量</td>
				<td way-data="statistics.moreData1" ></td>
				<td>品牌数量</td>
				<td way-data="statistics.moreData2" ></td>
				<td>产品品牌匹配数量</td>
				<td way-data="statistics.moreData3" ></td>
				<td>产品图片数量</td>
				<td way-data="statistics.moreData12" ></td>
			</tr>
			
			<tr>
				<td>京东产品匹配数量</td>
				<td way-data="statistics.moreData4" ></td>
				<td>天猫产品匹配数量</td>
				<td way-data="statistics.moreData5" ></td>
				<td>实际生产企业数量</td>
				<td way-data="statistics.moreData6" ></td>
				<td>已获取企业信息数量</td>
				<td way-data="statistics.moreData7" ></td>
			</tr>
			
			<tr>
				<td>当前成分数量</td>
				<td way-data="statistics.moreData8" ></td>
				<td>产品成分匹配数量</td>
				<td way-data="statistics.moreData9" ></td>
				<td>成分使用目的数量</td>
				<td way-data="statistics.moreData10" ></td>
				<td>规格种类数量</td>
				<td way-data="statistics.moreData11" ></td>
			</tr>
		</tbody>
	</table>
	
	<h3>用户统计信息</h3>
	<div>1.总统计与日统计为实时数据</div>
	<div class="line"></div>
	<table class="table table-border table-bordered table-bg table-hover mt-20">
		<thead>
			<tr>
				<th colspan="12" scope="col">统计信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>今日注册数</td>
				<td way-data="userData.registerCountToday" ></td>
				<td>今日测试数</td>
				<td way-data="userData.examCountToday" ></td>
				<td>今日咨询数</td>
				<td way-data="userData.consultCountToday" ></td>
				<td>总注册数</td>
				<td way-data="userData.registerCount" ></td>
				<td>总测试数</td>
				<td way-data="userData.examCount" ></td>
				<td>总咨询数</td>
				<td way-data="userData.consultCount" ></td>
			</tr>
		</tbody>
	</table>
	
	<div class="mt-10">2.月统计为历史数据（不包含本月数据，每月初更新上月数据）</div>
	<div class="line  mb-5"></div>
	<div id="main" style="width: 1200px;height:400px;"></div>
	
</div>
<section layout:fragment="my">
	<script type="text/javascript" src="/base/lib/echarts/3.4.0/echarts.common.min.js"></script>
	<script type="text/javascript" src="/js/home/show1.js"></script>
</section>
</html>