<!DOCTYPE HTML>
<html layout:decorator="common/layout_iframe">
<section layout:fragment="myCss">
	<style type="text/css">
body {
	background-color: #eee;
}

.panel-header.more {
	background-color: #fff;
}
.moreBtn {
	border-radius: 37px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
}
</style>
</section>

<div class="page-container" layout:fragment="main">
	<div class="panel panel-default">
		<div class="panel-header more">总览数据</div>
		<div class="panel-body">
			<div class="row cl f-18 mt-10">
				<div class="col-md-2 mt-5 c-white">
					<div class=" radius pt-10 pb-10 pl-30 cl"
						style="background-color: #58A3F7;">
						<div>
							<div class="f-28" way-data="statistics.moreData1">0</div>
							<div class="f-14">备案产品</div>
							<div class="f-r pr-10">
								<img style="width: 35px; height: 35px;"
									src="/img/welcome/product.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 mt-5 c-white">
					<div class=" radius pt-10 pb-10 pl-30 cl"
						style="background-color: rgb(254, 192, 61);">
						<div>
							<div class="f-28" way-data="statistics.moreData2">0</div>
							<div class="f-14">产品品牌</div>
							<div class="f-r pr-10">
								<img style="width: 35px; height: 35px;"
									src="/img/welcome/brand.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 mt-5 c-white">
					<div class=" radius pt-10 pb-10 pl-30 cl"
						style="background-color: rgb(82, 193, 245);">
						<div>
							<div class="f-28" way-data="statistics.moreData13">0</div>
							<div class="f-14">企业</div>
							<div class="f-r pr-10">
								<img style="width: 35px; height: 35px;" src="/img/welcome/e.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 mt-5 c-white">
					<div class=" radius pt-10 pb-10 pl-30 cl"
						style="background-color: rgb(251, 98, 96);">
						<div>
							<div class="f-28" way-data="statistics.moreData6">0</div>
							<div class="f-14">生产企业</div>
							<div class="f-r pr-10">
								<img style="width: 35px; height: 35px;"
									src="/img/welcome/oe.svg" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 mt-5 c-white">
					<div class=" radius pt-10 pb-10 pl-30 cl"
						style="background-color: rgb(129, 103, 245);">
						<div>
							<div class="f-28" way-data="statistics.moreData8">0</div>
							<div class="f-14">产品成分</div>
							<div class="f-r pr-10">
								<img style="width: 35px; height: 35px;" src="/img/welcome/i.svg" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 备案&取消备案趋势图  -->
	<div class="panel panel-default  mt-10">
		<div class="panel-header more cl">
			<span>备案&amp;取消备案趋势图</span>
			<div class="f-r"  id="dateLimit1">
				<div class="btn-group" style="display: inline-block;">
					<span class="btn btn-primary radius" data-day='7'>7天</span>
					<span class="btn btn-default radius" data-day='30'>30天</span>
					<span class="btn btn-default radius" data-day='90'>90天</span>
				</div>
				<input type="text" 
				onfocus="WdatePicker({onpicked:function(dp){initChartDate()}})"
				class="input-text Wdate chartdate1" style="width: 120px; margin-top: 9px;" />
				<input type="text" 
				onfocus="WdatePicker({onpicked:function(dp){initChartDate()}})"
				class="input-text Wdate chartdate2" style="width: 120px; margin-top: 9px;" />
			</div>

		</div>
		<div class="panel-body">
			<div id="chart" style="width: 100%; height: 400px;"></div>
		</div>
	</div>
	<div class="row cl f-18 mt-10">
		<div class="col-md-6 mt-5">
			<div class="panel panel-default">
				<div class="panel-header more cl">
					新增成分排行
					<div class="f-r"  id="dateLimit2">
						<div class="btn-group" style="display: inline-block;">
							<span class="btn btn-primary radius" data-day='7'>7天</span>
							<span class="btn btn-default radius" data-day='30'>30天</span>
							<span class="btn btn-default radius" data-day='90'>90天</span>
						</div>
						<input type="text" 
						onfocus="WdatePicker({onpicked:function(dp){initIngredientDate()}})"
						class="input-text Wdate idate1" style="width: 120px; margin-top: 9px;" />~
						<input type="text" 
						onfocus="WdatePicker({onpicked:function(dp){initIngredientDate()}})"
						class="input-text Wdate idate2" style="width: 120px; margin-top: 9px;" />
					</div>
				</div>
				<div class="panel-body f-14 ingredient">
 				</div>
			</div>
		</div>
		<div class="col-md-6 mt-5">
			<div class="panel panel-default">
				<div class="panel-header more cl">
					企业新备案排行
					<div class="f-r"  id="dateLimit3">
						<div class="btn-group" style="display: inline-block;">
							<span class="btn btn-primary radius" data-day='7'>7天</span>
							<span class="btn btn-default radius" data-day='30'>30天</span>
							<span class="btn btn-default radius" data-day='90'>90天</span>
						</div>
						<input type="text" 
						onfocus="WdatePicker({onpicked:function(dp){initEnterpriseDate()}})"
						class="input-text Wdate edate1" style="width: 120px; margin-top: 9px;" />~
						<input type="text" 
						onfocus="WdatePicker({onpicked:function(dp){initEnterpriseDate()}})"
						class="input-text Wdate edate2" style="width: 120px; margin-top: 9px;" />
					</div>
				</div>
				<div class="panel-body f-14 enterprise">
				</div>
			</div>
		</div>
	</div>


</div>
<section layout:fragment="my">
	<script type="text/javascript"
		src="/base/lib/echarts/3.4.0/echarts.common.min.js"></script>
	<script type="text/javascript"
		src="/base/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="/js/home/show.js"></script>
</section>
</html>