<html  layout:decorator="v2/common/layout_iframe" >
<section layout:fragment="myCss">
	
</section>
<section layout:fragment="main">
	<div class="wrapper">

			<div class="content_wrapper">
				<!-- breadcrumb -->
				<div class="container-fluid padding-zero">
					<div class="page-heading">
						<div class="row d-flex align-items-center">
							<div class="col-md-6">
								<div class="page-breadcrumb">
									<h1>产品成分标签</h1>
								</div>
							</div>
							<div class="col-md-6 justify-content-md-end d-md-flex">
								<div class="breadcrumb_nav">
									<ol class="breadcrumb">
										<li>
											<i class="fa fa-home"></i>
											<a class="parent-item" href="#">Home</a>
											<i class="fa fa-angle-right"></i>
										</li>
										<li class="active">
											产品成分标签
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- breadcrumb_End -->
				<!-- 数据筛选 -->
				<div class="container-fluid data-cars-box box-shadow">
					<div class="datacars-title">数据筛选</div>
					<div class="Pro_search_box">
						<form class="Pro_search_form"  action="/ingredientLabel/list" id="searchForm">
							<label>输入查询:</label>&nbsp;
							<input  th:value="${query.nameLike}" name="nameLike" type="search" class="form-control Pro_search nameLike" placeholder="请输入产品成分标签"/>&nbsp;
							<button class="layui-btn layui-btn-normal" style="color: #fff;"><i class="iconfont iconfangdajing" style="color: #fff;"></i>&nbsp;查询</button>
							<a class="layui-btn layui-btn-primary clear"><i class="iconfont iconzhongzhi" style="color: #333;"></i>&nbsp;重置</a>
						</form>
					</div>
				</div>
				<!-- /数据筛选 -->
				<!-- 数据列表 -->
				<div class="container-fluid data-cars-box box-shadow" style="padding-bottom: 10px;">
					<div class="datacars-title data-list">
						<div class="data-list-left float-left">数据列表</div>
						<div class="data-list-right  float-right">
							<span class="addClass"><strong>+</strong>&nbsp;添加分类</span>
							<span class="add"><strong>+</strong>&nbsp;添加标签</span>
						</div>
					</div>
					<table class="layui-table">
						<thead>
							<tr>
								<th>序号</th>
								<th>标签</th>
								<th>标签分类</th>
								<th>描述</th>
								<th>添加时间</th>
								<th>常用设置</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="one,status:${page.content}">
								<td th:text="${page.number*page.size+status.index+1}">1</td>
								<td th:text="${one.name}">改善暗沉</td>
								<td th:text="${one.className}">护肤</td>
								<td th:text="${one.description}" >改善暗沉</td>
								<td th:text="${#dates.format(one.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
								<td width="100"  >
									<div class="layui-form switchItem"  >
										<input type="checkbox" th:attr="data-id=${one.id}" lay-skin="switch" lay-text="开启|关闭" class="layui-btn-lg "  th:checked='${one.isChoice eq 1 ? "checked":"false"}'/>					
		                            </div> 
								</td>
								<td class="caozuo">
									<div style="margin-top: 5px;">
										<a th:attr="data-id=${one.id}" href="#" style="color: #1E9FFF;" class="edit"><i class="iconfont iconbianji1"></i>&nbsp;编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
										<a th:attr="data-id=${one.id}" href="#" style="color: #1E9FFF;" class="delete"><i class="iconfont iconshanchu"></i>&nbsp;删除</a>
									</div>

								</td>
							</tr>
						</tbody>
					</table>
					<div id="pageCont" class="customPages" th:attr="data-count=${page.totalElements},data-totalPages=${page.totalPages}" ></div>
				</div>
				<!-- 数据列表 -->
			</div>
		</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/base/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="/js/common/formpage.js"></script>
	<script type="text/javascript" src="/js/v2/ingredientLabel/list.js"></script>
</section>
</html>
