<!DOCTYPE HTML>
<html>
<!-- 头部，包含meta，公共css -->
<head th:replace="/common/layout_head :: head"></head>
<body>
<link rel="stylesheet" type="text/css"  href="/base/h-ui.admin/css/H-ui.login.css"/>
<style type="text/css"> 
label.error {
 	position: absolute;
    right: 68px;
    top: 11px;
    color: #ef392b;
    font-size: 12px;
}
</style> 
<div class="header">
</div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" th:id="curForm"  method="post">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="name" type="text" placeholder="账户" class="input-text size-L"/>
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="password" type="password" placeholder="密码" class="input-text size-L"/>
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input class="input-text size-L" type="text" name="identifyCode" placeholder="验证码"  style="width:100px;"/>
           <a id="changeCode" href="javascript:void(0);">
         	 <img id="imgIdentifyCode" th:src="@{/identifyCode}" src=""  style="width: 100px;height: 36px;"/>
		   </a> 
         </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <label for="rememberMe">
            <input type="checkbox"  id="rememberMe"  name="rememberMe" value=""/>
		            使我保持登录状态</label>
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;"/>
          <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;"/>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">后台管理系统</div>
<!-- 公共js -->
<div th:replace="common/layout_js :: js"></div>
	<script type="text/javascript" src="/js/login/login.js"></script>
</body>
</html>