<!DOCTYPE HTML>
<html  layout:decorator="/common/layout_dialog">
<body>
<section layout:fragment="main">

	<div class="page-container" >
		<script id="container" name="content" type="text/plain">
        </script>
	</div>
	</section>
	<section  layout:fragment="my">
	    <script type="text/javascript" charset="utf-8" src="/base/lib/ueditor/1.4.3/ueditor.config.js"></script>
	    <script type="text/javascript" charset="utf-8" src="/base/lib/ueditor/1.4.3/ueditor.all.js"></script>
	    <script type="text/javascript" charset="utf-8" src="/base/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
		<script type="text/javascript" charset="utf-8" src="/js/article/add.js"></script>
	</section>
</body>
</html>