body {
				position: fixed;
				top: 0;
				left: 0;
				overflow: hidden;
				width: 100%;
				height: 100%;
				z-index: 998;
				background-color: #f2f2f2;
			}

			.bottom-img {
				width: 100%;
				position: absolute;
				bottom: 0;
				background: url(../images/bg.jpg) no-repeat center;
				height: 599px;
				z-index: 1;
			}

			.login-box {
				width: 40%;
				z-index: 2;
				position: absolute;
				left: 30%;
			}

			.logo-box {
				margin-top: 60px;
			}

			.logo {
				color: #0079fe;
				font-size: 120px;
				text-align: center;
			}

			.login-box h4 {
				text-align: center;
				color: #0079fe;
				font-size: 32px;
			}

			.login-box h4.cn_title {
				font-weight: 700;
			}

			.login-box h4.en_title {
				font-weight: 500;
				font-size: 26px;
				margin-top: -7px;
			}
			.layui-form-item .layui-form-checkbox[lay-skin=primary] {
			    margin-top: -5px;
			}
			.user_iput{
				position: relative;
			}
			.user_input_ico{
				position: absolute;
				top: 5px;
				left: 5px;
				z-index: 3;
			}
			.padding_left25{
				padding-left: 25px;
			}
			.yzm{
				position: absolute;
				top:2px;
				right:5px;
				font-size: 18px;
				color: #ccc;
				cursor: pointer;
			}
			.dxyzm:disabled {
			    background-color: #ddd;
			}
			.reset_con,.retrieve_con{
				margin-top: 8%;
			}
			.register_con{
				margin-top: 4%;
			}