<!DOCTYPE HTML>
<html  layout:decorator="/common/layout_dialog">
<body>
<section layout:fragment="main">
	<div class="page-container" >
		<form class="form form-horizontal" id="curForm">
		<input type="hidden" th:value="${one.id}" name="id"></input>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
									<span class="c-red">*</span>
								登录名：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
				<input type="text" class="input-text" th:value="${one.loginName}" value="" placeholder="登录名" name="loginName"/>
																
				</div>
			</div>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
									<span class="c-red">*</span>
								显示名：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
				<input type="text" class="input-text" th:value="${one.displayName}" value="" placeholder="显示名" name="displayName"/>
																
				</div>
			</div>
		    <div class="row cl">
				<label class="form-label col-xs-3 col-sm-2">
									<span class="c-red">*</span>
								密码：
				</label>
				<div class="formControls col-xs-9 col-sm-10">
				<input type="text" class="input-text"   value="" placeholder="密码" name="password"/>
																
				</div>
			</div>
							
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
					<input class="btn btn-danger radius cancle" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;"/>
				</div>
			</div>
		</form>
	</div>
	</section>
	<section  layout:fragment="my">
		<script type="text/javascript" charset="utf-8" src="/js/admin/edit.js"></script>
	</section>
</body>
</html>