<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.co.example.sqlmaps.manifest.TBrManifestBrandMapper" >
  <resultMap id="BaseResultMap" type="com.co.example.entity.manifest.TBrManifestBrand" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="manifest_id" property="manifestId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="eenum" property="eenum" jdbcType="INTEGER" />
    <result column="cnum" property="cnum" jdbcType="INTEGER" />
    <result column="pnum" property="pnum" jdbcType="INTEGER" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_id, manifest_id, name, level, eenum, cnum, pnum, item_order, create_time, 
    create_by, update_time, update_by, is_active, del_flg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_br_manifest_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_br_manifest_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.co.example.entity.manifest.TBrManifestBrand" keyColumn="id" keyProperty="id" >
    <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE" >
      SELECT ${@com.github.moncat.common.generator.id.NextId@getId()}
    </selectKey>
    insert into t_br_manifest_brand (id, brand_id, manifest_id, 
      name, level, eenum, 
      cnum, pnum, item_order, 
      create_time, create_by, update_time, 
      update_by, is_active, del_flg
      )
    values (#{id,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, #{manifestId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, #{eenum,jdbcType=INTEGER}, 
      #{cnum,jdbcType=INTEGER}, #{pnum,jdbcType=INTEGER}, #{itemOrder,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{isActive,jdbcType=TINYINT}, #{delFlg,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.co.example.entity.manifest.TBrManifestBrand" >
    update t_br_manifest_brand
    <set >
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="manifestId != null" >
        manifest_id = #{manifestId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="eenum != null" >
        eenum = #{eenum,jdbcType=INTEGER},
      </if>
      <if test="cnum != null" >
        cnum = #{cnum,jdbcType=INTEGER},
      </if>
      <if test="pnum != null" >
        pnum = #{pnum,jdbcType=INTEGER},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.co.example.entity.manifest.TBrManifestBrand" >
    update t_br_manifest_brand
    set brand_id = #{brandId,jdbcType=BIGINT},
      manifest_id = #{manifestId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      eenum = #{eenum,jdbcType=INTEGER},
      cnum = #{cnum,jdbcType=INTEGER},
      pnum = #{pnum,jdbcType=INTEGER},
      item_order = #{itemOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_active = #{isActive,jdbcType=TINYINT},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVoByPrimaryKey" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_manifest_brand t
    <include refid="Table_Join_Clause" />
    where t.id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Query_Where_Clause" >
    <where >
      <if test="id != null" >
          and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="brandId != null" >
          and t.brand_id = #{brandId,jdbcType=BIGINT}
      </if>
      <if test="manifestId != null" >
          and t.manifest_id = #{manifestId,jdbcType=BIGINT}
      </if>
      <if test="name != null" >
          and t.name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="level != null" >
          and t.level = #{level,jdbcType=TINYINT}
      </if>
      <if test="eenum != null" >
          and t.eenum = #{eenum,jdbcType=INTEGER}
      </if>
      <if test="cnum != null" >
          and t.cnum = #{cnum,jdbcType=INTEGER}
      </if>
      <if test="pnum != null" >
          and t.pnum = #{pnum,jdbcType=INTEGER}
      </if>
      <if test="itemOrder != null" >
          and t.item_order = #{itemOrder,jdbcType=INTEGER}
      </if>
      <if test="createTime != null" >
          and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createBy != null" >
          and t.create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateTime != null" >
          and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null" >
          and t.update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="isActive != null" >
          and t.is_active = #{isActive,jdbcType=TINYINT}
      </if>
      <if test="delFlg != null" >
          and t.del_flg = #{delFlg,jdbcType=TINYINT}
      </if>
      <include refid="Vo_Where_Clause" />
    </where>
    <if test="sorting != null" >
      order by ${sorting},t.id desc
    </if>
  </sql>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long" >
    select count(t.id) from t_br_manifest_brand t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <select id="select" parameterType="java.util.Map" resultMap="VoResultMap" >
    select 
    <include refid="Vo_Column_List" />
    from t_br_manifest_brand t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
  </select>
  <delete id="delete" parameterType="java.util.Map" >
    delete from t_br_manifest_brand where id in (
    select t.id from (select * from t_br_manifest_brand) t
    <include refid="Table_Join_Clause" />
    <include refid="Query_Where_Clause" />
    )
  </delete>
  <!--  ************************expand your SQL below the line***********************  -->
  <resultMap id="VoResultMap" type="com.co.example.entity.manifest.aide.TBrManifestBrandVo" extends="BaseResultMap" >
    <!--  <association property="beanName" javaType="beanVoFullyQualifiedName">  -->
    <!--  <result column="dbField" property="beanField" jdbcType="dbFieldStyle" /> -->
    <!--  </association> -->
  </resultMap>
  <sql id="Vo_Column_List" >
    t.id, 
    t.brand_id, 
    t.manifest_id, 
    t.name, 
    t.level, 
    t.eenum, 
    t.cnum, 
    t.pnum, 
    t.item_order, 
    t.create_time, 
    t.create_by, 
    t.update_time, 
    t.update_by, 
    t.is_active, 
    t.del_flg
     <!-- ,alias.field -->
  </sql>
  <sql id="Vo_Where_Clause" >
    <!-- <if test="queryBeanField != null" > -->
    <!-- and dbField = #{queryBeanField,jdbcType=dbFieldStyle} -->
    <!-- </if> -->
  </sql>
  <sql id="Table_Join_Clause" >
    <!-- left join tableName tn on t.primaryKey=tn.foreignKey -->
  </sql>
</mapper>