<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="common/layout"
	th:with="title=${product1.productName}+'-'+${product2.productName}+'-化妆品详情对比-柠檬妆典'">
<section layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/cstyle.css" />
</section>
<section layout:fragment="main">
	<div class="aui-content">
		<header class="aui-bar aui-bar-nav currency-bgcolor" id="aui-header">
			<a class="aui-btn aui-pull-left" href="javascript:history.go(-1);"> 
				<span class="aui-iconfont aui-icon-left" style="cursor: pointer"></span>
			</a>
			<div class="aui-title">化妆品对比</div>
		</header>
		<div class="aui-margin-t-25">
			<ul class="aui-list aui-media-list c-aui-list-border-t-none">
				<li class="aui-list-item c-aui-media-list-border-none">
					<div class="aui-list-item-inner">
						<div class="aui-row aui-row-padded">
							<div class="aui-col-xs-6">
								<a th:href="@{'/product/show/'+${product1.id}}">
									<img th:src="@{${product1.moreData1==null?'/img/no-image.png':product1.moreData1}}" />
									<p id="title1" th:attr="data-id=${product1.id}" th:text="${product1.productName}"></p>
								</a>
							</div>							
							<div class="aui-col-xs-6">
								<a th:href="@{'/product/show/'+${product2.id}}">
									<img th:src="@{${product2.moreData1==null?'/img/no-image.png':product2.moreData1}}" />
									<p  id="title2" th:attr="data-id=${product2.id}" th:text="${product2.productName}"></p>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="aui-tab " id="tab">
			<div class="aui-tab-item aui-active">基本信息</div>
			<div class="aui-tab-item">销量及评分</div>
			<div class="aui-tab-item">安全功效</div>
			<div class="aui-tab-item">肤质匹配</div>
		</div>
		<div class="c-contrast-container" id="c-contrast-container">
			<div class="contrast-tab-info contrast-tab-info1"
				style="display: block">
				<div class="c-content-div">
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-6">
							<div class=" c-text-color-3 c-border-radius ">
								<p class="aui-text-center">
									制造商<br /><b th:text="${product1.enterpriseName}"></b>
								</p>
							</div>
						</div>
						<div class="aui-col-xs-6">
							<div class=" c-text-color-3 c-border-radius ">
								<p class="aui-text-center">
									制造商<br/><b th:text="${product2.enterpriseName}"></b>
								</p>
							</div>
						</div>
					</div>
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-6">
							<div class=" c-text-color-3 c-border-radius ">
								<p class="aui-text-center">参考价：￥<b th:text="${price1}"></b></p>
							</div>
						</div>
						<div class="aui-col-xs-6">
							<div class=" c-text-color-3 c-border-radius ">
								<p class="aui-text-center">参考价：￥<b th:text="${price2}"></b></p>
							</div>
						</div>
					</div>
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-6">
							<div class=" c-text-color-3 c-border-radius ">
								<p class="aui-text-center" id="label1"></p>
							</div>
						</div>
						<div class="aui-col-xs-6">
							<div class=" c-text-color-3 c-border-radius ">
								<p class="aui-text-center" id="label2"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contrast-tab-info contrast-tab-info2">
				<div class="c-content-div">
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-5">
							<div class="aui-progress aui-progress">
								<div class="aui-progress-bar" style="width: 70%;" th:text="${product1.sales}"></div>
							</div>
						</div>
						<div class="aui-col-xs-2 aui-text-center">销量</div>
						<div class="aui-col-xs-5">
							<div class="aui-progress aui-progress">
								<div class="aui-progress-bar" style="width: 70%;" th:text="${product2.sales}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contrast-tab-info contrast-tab-info3">
				<div class="c-content-div">
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-6" id="safe1"> 
						</div>
						
						<div class="aui-col-xs-6" id="safe2">
						</div>
					</div>
				</div>
				<div class="c-content-div">
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-6" id="effect1"> 
						</div>
						
						<div class="aui-col-xs-6" id="effect2">
						</div>
					</div>
				</div>
				<div class="c-content-div">
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-6">
							<div class="aui-text-center c-text-color-4 c-contrast-component " id="count1"></div>
							<div class=" c-contrast-component-content ">
								<h4 style="text-align:center"><a th:href="@{'/ingredient/detail?productId='+${product1.id}}">查看成分</a></h4>								
							</div>
						</div>
						
						<div class="aui-col-xs-6">
							<div class="aui-text-center c-text-color-4 c-contrast-component " id="count2"></div>
							<div class=" c-contrast-component-content ">
								<h4 style="text-align:center"><a th:href="@{'/ingredient/detail?productId='+${product2.id}}">查看成分</a></h4>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contrast-tab-info contrast-tab-info4">
				<div class="c-content-div">
					<div class="aui-row aui-row-padded c-row-height">
						<div class="aui-col-xs-6">
							<div class="aui-text-center c-text-color-4" id="score1">
							</div>
						</div>
						
						<div class="aui-col-xs-6">
							<div class="aui-text-center c-text-color-4" id="score2">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-bottom: 2.67rem;"></div>
		<div class="aui-bar aui-bar-tab">
			<div class="aui-title c-text-color-4"  id="consult" style="line-height: 2.5rem;">
				美肤指导一对一为您定制
			</div>
		</div>
	</div>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/base/lib/aui/js/aui-tab.js"></script>
	<script type="text/javascript" src="/js/contrast/detail.js"></script>
</section>
</html>