<section th:fragment="js">
	<script type="text/javascript" src="/base/v2/js/popper.min.js"></script>
	<script type="text/javascript" src="/base/v2/js/bootstrap.min.js"></script>
	<script src="/base/v2/layui-v2.5.5/layui.all.js"></script>
 	<!-- 表单验证 -->
	<script type="text/javascript" src="/base/lib/jquery.form.js"></script>
	<script type="text/javascript" src="/base/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="/base/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="/base/lib/jquery.validation/1.14.0/additional-methods.js"></script>
	<script type="text/javascript" src="/base/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="/base/lib/Validform/5.3.2/Validform.min.js"></script>
	<!-- 模板引擎 -->
	<!-- 	
		<script type="text/javascript" src="artTemplate.js"></script> 
		<script type="text/javascript" src="/base/lib/jquery.tmpl.min.js"></script> 
		<script type="text/javascript" src="/base/lib/template-web.js"></script>
	-->	
	<!-- jquery 时间函数  -->
	<script type="text/javascript" src="/base/lib/datetime/dateformat/date.format.js"></script>
	<!-- jquery 双向绑定  -->
	<script type="text/javascript" src="/base/lib/way.js"></script>
	<!-- jquery 分页  -->
	<!-- <script type="text/javascript" src="/js/common/formpage.js"></script>  -->
	<!-- 弹框 -->
	<script type="text/javascript" src="/base/lib/layer/2.4/layer.js"></script>
	<!-- 自定义js -->
	<script type="text/javascript" src="/js/v2/common/base.js?version=9"></script>
	
</section>