<!DOCTYPE HTML>
<html >
<head th:fragment="head">
<!-- metas -->
<meta charset="utf-8"></meta>
<meta name="renderer" content="webkit|ie-comp|ie-stand"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" ></meta>
<meta http-equiv="Cache-Control" content="no-siteapp" ></meta>
<meta name="keywords" content="国产化妆品备案数据分析平台"></meta>
<meta name="description" content="国产化妆品备案数据分析平台"></meta>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<!-- ico -->
<link rel="Bookmark" href="/img/favicon.ico" ></link>
<link rel="Shortcut Icon" href="/img/favicon.ico" ></link>
<!-- common css -->
<section layout:fragment="css">
	<link href="/base/v2/layui-v2.5.5/css/layui.css" rel="stylesheet" type="text/css"  />
	<link href="/base/v2/css/iconfont.css" rel="stylesheet" type="text/css"  />
	<link href="/base/v2/css/style.css" rel="stylesheet" type="text/css"  />
	<link href="/base/v2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/base/v2/css/index.css" rel="stylesheet" type="text/css" />
	<link href="/base/v2/css/base.css"  rel="stylesheet" type="text/css" />
</section>
<!-- index -->
 <script type="text/javascript" src="/base/lib/jquery/3.4.1/jquery-3.4.1.min.js"></script> 
<title>国产化妆品备案数据分析平台</title>
</head>
</html>