<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout" th:with="title='忘记密码-柠檬妆典'">
<section layout:fragment="main" >
    <header class="aui-bar aui-bar-nav maui-header-red" id="aui-header" style="max-width: 768px; margin: 0 auto">
        <a class="aui-btn aui-pull-left"  href="javascript:history.go(-1);">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">忘记密码</div>
    </header>
    <div class="aui-content aui-margin-b-15 main-font" style="max-width: 768px; margin: 0 auto">
        <div class="aui-row maui-logo">
            <img src="/img/pretty-girl.png">
        </div>
        <div class="aui-row">
        <form action="#" method="post">
            <ul class="aui-list maui-list aui-form-list">
                <li class="aui-list-item maui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-lable-icon">
                            <i class="aui-iconfont aui-icon-mobile"></i>
                        </div>
                        <div class="aui-list-item-input maui-list-input">
                            <input style="width: 90%;" class="number phone" name="phone" type="text" placeholder="请输入手机号">
                            <span style="width: 8%;"><i class="aui-iconfont aui-icon-close aui-hide phone-error-icon"></i></span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item maui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-lable-icon">
                            <i class="icon hufuiconfont hufuicon-yanzhengma" style="font-size: 0.8rem"></i>
                        </div>
                        <div class="aui-list-item-input maui-list-input">
                            <input type="text" name="identify_code" class="number identify-code" placeholder="输入手机验证码">
                            <span class="get-message-code">
                                <a>获取验证码</a>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item maui-li-bordermiss">
                    <div class="aui-list-item-inner">
                        <button type="button" onclick="return maui_checkForm();" class="aui-btn aui-btn-danger aui-btn-block aui-btn-sm retrieve-button">下一步</button>
                    </div>
                </li>
                <li class="aui-list-item maui-li-bordermiss maui-li-border-miss">
                    <div class="aui-list-item-inner maui-form-note-div">
                        <span class="maui-form-note"></span>
                    </div>
                </li>
            </ul>
        </form>
        </div>
    </div>
    <footer class="maui-help" style="max-width: 768px; margin: 0 auto">
        <span>手机收不到验证码怎么办？</span>
        <span>1.检查垃圾短信，在设置中，将发件人设置为白名单。</span>
    </footer>
</section>
<section layout:fragment="my">
	<script type="text/javascript" src="/js/login/retrieve1.js"></script>
</section>
</html>